@{
    ViewBag.Title = "资料查看可以软件下载的权限";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<script src="~/Scripts/NAjs/layui.js"></script>
<script type="text/javascript">
    //
    $(function () {
        var ddstr = AjaxGetddinfoyId();
        if (ddstr.Ps_wlBomNO == "" || ddstr.Ps_wlBomNO == null) {
            $("#cpwlno").html("尚未同步")
        } else {
            $("#cpwlno").html(ddstr.Ps_wlBomNO)
        }

        if (ddstr.Ps_BomNO == "" || ddstr.Ps_BomNO == null) {
            $("#bomno").html("尚未同步")
        } else {
            $("#bomno").html(ddstr.Ps_BomNO)
        }
        var Isck = true;
        if (ddstr.DD_Type <= 3) {//不是plc 不需要上传软件和操作手册
            $("#rjcon").attr("style", "display:none;");//隐藏div
            $("#czsccon").attr("style", "display:none;");//隐藏div
        } else {
            if ('@ViewData["gsc_Id"]' == "False") {
                Isck = false;
            }
            else if ('@ViewData["gsc_Id"]' == "True")//电气主管或者管理员账号
            {
                Isck = true;
            }
            else {
                if ('@ViewData["gsc_Id"]' != ddstr.Gcs_nameId) { Isck = false;}
            }

        }
        //获取生产订单的生产资料
        var ziliaostr = AJaxziliaojson(ddstr.Id);
        console.log('ziliaostr',ziliaostr)
        pjziliaohtml(ziliaostr, ddstr, "True");

    })

    // 拼接资料html
    function pjziliaohtml(strjson, ddstr, Isck) {
        if (strjson != null && strjson != "") {
            //需求
            var xqzlstr = [];
            //料单
            var liaodanstr = [];
            //箱体图
            var tuzhistr = [];
            //电器排布图
            var dqpbtuzhistr = [];
            //电器原理图
            var QTtuzhistr = [];
            //线号表
            var xhbtuzhistr = [];
             //软件程序
            var rjcxTtuzhistr = [];
            //软件源程序
            var rjycxtuzhistr = [];
            //操作手册
            var czshoucestr = [];
            //调试单
            var dsdanstr = [];
            //照片
            var zhaopian = [];

            for (var i = 0; i < strjson.length; i++) {
                if (strjson[i].Zl_type == "0") {//需求
                    xqzlstr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "1") {//料单
                    liaodanstr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "2") {//箱体图
                    tuzhistr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "6") {//电器排布图
                    dqpbtuzhistr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "5") {//电器原理图
                    QTtuzhistr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "10") {//线号表
                    xhbtuzhistr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "8") {//软件程序（烧录软件）（仅仅plc 项目有）
                    rjcxTtuzhistr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "11") {//软件程序-源程序（仅仅plc 项目有）
                    rjycxtuzhistr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "9") {//操作手册（仅仅plc 项目有）
                    czshoucestr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "4") {//调式单
                    dsdanstr.push(strjson[i])
                }
                if (strjson[i].Zl_type == "3") {//照片
                    zhaopian.push(strjson[i])
                }
            }
                if (xqzlstr != "" && xqzlstr != null) {
                    var htmlxq = "";
                    for (var i = 0, j = xqzlstr.length; i < j; i++) {
                        if (xqzlstr[i].Isgl == "0") {//附件资料
                            var id = "'" + xqzlstr[i].Id + "'";
                            htmlxq += '<a  target="_blank" href="' + xqzlstr[i].url + '">' + xqzlstr[i].wjName + '</a>&nbsp;&nbsp;';
                        } else {//关联的资料
                            var xuqiustr = AJaxxuqiujson(xqzlstr[i].Bjno);
                            if (xuqiustr.COMPRESSOR_TYPE == '0') {
                                htmlxq += '<a  target="_blank" href="http://106.14.40.169:7766/TZGL/XQB/BLDetail.aspx?CONTROL_NO=' + xuqiustr.CONTROL_INFO_NO + '">需求</a>&nbsp;&nbsp;';
                            }
                            else if (xuqiustr.COMPRESSOR_TYPE == '1') {
                                htmlxq += '<a  target="_blank" href="http://106.14.40.169:7766/TZGL/XQB/LGDetail.aspx?CONTROL_NO=' + xuqiustr.CONTROL_INFO_NO + '">需求</a>&nbsp;&nbsp;';
                            }
                            else if (xuqiustr.COMPRESSOR_TYPE == '2') {
                                htmlxq += '<a  target="_blank" href="http://106.14.40.169:7766/TZGL/XQB/LSDetail.aspx?CONTROL_NO=' + xuqiustr.CONTROL_INFO_NO + '">需求</a>&nbsp;&nbsp;';
                            }
                            else if (xuqiustr.COMPRESSOR_TYPE == '3') {
                                htmlxq += '<a  target="_blank" href="http://106.14.40.169:7766/TZGL/XQB/MDDetail2.aspx?CONTROL_NO=' + xuqiustr.CONTROL_INFO_NO + '">需求</a>&nbsp;&nbsp;';
                            }
                            else if (xuqiustr.COMPRESSOR_TYPE == '12') {
                                htmlxq += '<a  target="_blank" href="http://106.14.40.169:7766/TZGL/XQB/PTLDetail.aspx?CONTROL_NO=' + xuqiustr.CONTROL_INFO_NO + '">需求</a>&nbsp;&nbsp;';
                            } else {
                                htmlxq += '<a  target="_blank" href="http://106.14.40.169:7766/TZGL/XQB/XXTDetail.aspx?CONTROL_NO=' + xuqiustr.CONTROL_INFO_NO + '">需求</a>&nbsp;&nbsp;';
                            }
                        }
                    }
                    $("#xuqiucon").html(htmlxq)
                } else {
                    $("#xuqiucon").html('<span style="color:red">暂无需求</span>');
                }
                if (liaodanstr != "" && liaodanstr != null) {
                    var htmlliaodan = "";
                    for (var z = 0, s = liaodanstr.length; z < s; z++) {
                        if (liaodanstr[z].Isgl == "0") {//附件资料
                            var id = "'" + liaodanstr[z].Id + "'";
                            htmlliaodan += '<a  target="_blank" href="' + liaodanstr[z].url + '">' + liaodanstr[z].wjName + '</a>&nbsp;&nbsp;';
                        }
                        if (liaodanstr[z].Isgl == "1") {
                            var xuqiustr = AJaxxuqiujson(ddstr.BJno);
                            htmlliaodan += '<a  target="_blank" href="http://106.14.40.169:7766/TZGL/ToExcel2.aspx?NO=' + xuqiustr.CONTROL_INFO_NO + '&TYPE=' + xuqiustr.CONTROL_TYPE + '">料单</a>';
                        }
                        if (liaodanstr[z].Isgl == "2") {//k3数据
                            htmlliaodan += '<a  target="_blank" href="../DKX_DDtypeinfo/NewliaodanView?oId=' + ddstr.Id + '">K料单</a>';
                        }
                    }
                    $("#liaodancon").html(htmlliaodan)
                } else {
                    $("#liaodancon").html('<span style="color:red">暂无料单</span>');
                }
                if (tuzhistr != "" && tuzhistr != null) {
                    var htmltuzhi = "";
                    for (var i = 0, j = tuzhistr.length; i < j; i++) {
                        var id = "'" + tuzhistr[i].Id + "'";
                        if (Isck) { htmltuzhi += '<a  target="_blank" href="' + tuzhistr[i].url + '">' + tuzhistr[i].wjName + '</a>&nbsp;&nbsp;'; }
                        else { htmltuzhi += '<a  >' + tuzhistr[i].wjName + '</a>&nbsp;&nbsp;';}

                    }
                    $("#tuzhicon").html(htmltuzhi)
                } else {
                    $("#tuzhicon").html('<span style="color:red">暂无图纸(箱体图)</span>');
                }
                if (dqpbtuzhistr != "" && dqpbtuzhistr != null) {
                    var htmldqpbtuzhi = "";
                    for (var i = 0, j = dqpbtuzhistr.length; i < j; i++) {
                        var id = "'" + dqpbtuzhistr[i].Id + "'";
                        if (Isck) { htmldqpbtuzhi += '<a  target="_blank" href="' + dqpbtuzhistr[i].url + '">' + dqpbtuzhistr[i].wjName + '</a>&nbsp;&nbsp;'; }
                        else { htmldqpbtuzhi += '<a>' + dqpbtuzhistr[i].wjName + '</a>&nbsp;&nbsp;';}

                    }
                    $("#dqpbtuzhi").html(htmldqpbtuzhi)
                } else {
                    $("#dqpbtuzhi").html('<span style="color:red">暂无图纸(电器排布图)</span>');
                }
                if (QTtuzhistr != "" && QTtuzhistr != null) {
                    var htmlqttuzhi = "";
                    for (var i = 0, j = QTtuzhistr.length; i < j; i++) {
                        var id = "'" + QTtuzhistr[i].Id + "'";
                        if (Isck) { htmlqttuzhi += '<a  target="_blank" href="' + QTtuzhistr[i].url + '">' + QTtuzhistr[i].wjName + '</a>&nbsp;&nbsp;'; }
                        else { htmlqttuzhi += '<a>' + QTtuzhistr[i].wjName + '</a>&nbsp;&nbsp;';}

                    }
                    $("#qttuzhicon").html(htmlqttuzhi)
                } else { $("#qttuzhicon").html('<span style="color:red">暂无图纸(电器原理图)</span>'); }
                if (xhbtuzhistr != "" && xhbtuzhistr != null) {
                    var htmlxtjttuzhi = "";
                    for (var i = 0, j = xhbtuzhistr.length; i < j; i++) {
                        var id = "'" + xhbtuzhistr[i].Id + "'";
                        if (Isck) { htmlxtjttuzhi += '<a  target="_blank" href="' + xhbtuzhistr[i].url + '">' + xhbtuzhistr[i].wjName + '</a>&nbsp;&nbsp;'; }
                        else { htmlxtjttuzhi += '<a>' + xhbtuzhistr[i].wjName + '</a>&nbsp;&nbsp;';}

                    }
                    $("#xhbtuzhicon").html(htmlxtjttuzhi);
                } else {
                    $("#xhbtuzhicon").html('<span style="color:red">暂无图纸(线号表)</span>');
                }
                if (rjcxTtuzhistr != "" && rjcxTtuzhistr != null) {
                    var htmlrjcxtuzhi = "";
                    for (var i = 0, j = rjcxTtuzhistr.length; i < j; i++) {
                        var id = "'" + rjcxTtuzhistr[i].Id + "'";
                        if (Isck) { htmlrjcxtuzhi += '<a  target="_blank" href="' + rjcxTtuzhistr[i].url + '">' + rjcxTtuzhistr[i].wjName + '</a>&nbsp;&nbsp;'; }
                        else { htmlrjcxtuzhi += '<a>' + rjcxTtuzhistr[i].wjName + '</a>&nbsp;&nbsp;';}

                    }
                    $("#rjcxcon").html(htmlrjcxtuzhi)
                } else { $("#rjcxcon").html('<span style="color:red">暂无烧录程序</span>'); }
                if (rjycxtuzhistr != "" && rjycxtuzhistr != null) {
                    var htmlrjycxtuzhi = "";
                    for (var i = 0, j = rjycxtuzhistr.length; i < j; i++) {
                        var id = "'" + rjycxtuzhistr[i].Id + "'";
                        if (Isck) { htmlrjycxtuzhi += '<a  target="_blank" href="' + rjycxtuzhistr[i].url + '">' + rjycxtuzhistr[i].wjName + '</a>&nbsp;&nbsp;'; }
                        else { htmlrjycxtuzhi += '<a>' + rjycxtuzhistr[i].wjName + '</a>&nbsp;&nbsp;';}

                    }
                    $("#rjycxcon").html(htmlrjycxtuzhi)
                } else {
                    $("#rjycxcon").html('<span style="color:red">暂无源程序</span>');
            }
            if (czshoucestr != "" && czshoucestr != null) {
                var htmlczsctuzhi = "";
                for (var i = 0, j = czshoucestr.length; i < j; i++) {
                    var id = "'" + czshoucestr[i].Id + "'";
                    if (Isck) { htmlczsctuzhi += '<a  target="_blank" href="' + czshoucestr[i].url + '">' + czshoucestr[i].wjName + '</a>&nbsp;&nbsp; '; }
                    else { htmlczsctuzhi += '<a>' + czshoucestr[i].wjName + '</a>&nbsp;&nbsp; ';}

                }
                $("#czsctuzhicon").html(htmlczsctuzhi)
            } else {
                $("#czsctuzhicon").html('<span style="color:red">暂无操作手册</span>');
            }
            if (dsdanstr != "" && dsdanstr != null) {
                var htmldsdtuzhi = "";
                for (var i = 0, j = dsdanstr.length; i < j; i++) {
                    var id = "'" + dsdanstr[i].Id + "'";
                    if (Isck) { htmldsdtuzhi += '<a  target="_blank" href="' + dsdanstr[i].url + '">' + dsdanstr[i].wjName + '</a>&nbsp;&nbsp; '; }
                    else { htmldsdtuzhi += '<a>' + dsdanstr[i].wjName + '</a>&nbsp;&nbsp; ';}

                }
                $("#yanshoudancon").html(htmldsdtuzhi)
            } else {
                $("#yanshoudancon").html('<span style="color:red">暂无调试单</span>');
            }
            if (zhaopian != "" && zhaopian != null) {
                var htmlzptuzhi = "";
                for (var i = 0, j = zhaopian.length; i < j; i++) {
                    var id = "'" + zhaopian[i].Id + "'";
                    if (Isck) { htmlzptuzhi += '<a  target="_blank" href="' + zhaopian[i].url + '">' + zhaopian[i].wjName + '</a>&nbsp;&nbsp; '; }
                    else { htmlzptuzhi += '<a>' + zhaopian[i].wjName + '</a>&nbsp;&nbsp; ';}

                }
                $("#zhaoiancon").html(htmlzptuzhi)
            } else {
                $("#zhaoiancon").html('<span style="color:red">暂无照片</span>');
            }


        } else {
            $("#xuqiucon").html('<span style="color:red">暂无需求</span>');
            $("#liaodancon").html('<span style="color:red">暂无料单</span>');
            $("#tuzhicon").html('<span style="color:red">暂无图纸(箱体图)</span>');
            $("#dqpbtuzhi").html('<span style="color:red">暂无图纸(电器排布图)</span>');
            $("#qttuzhicon").html('<span style="color:red">暂无图纸(电器原理图)</span>');
            $("#xhbtuzhicon").html('<span style="color:red">暂无图纸(线号表)</span>');
            $("#rjcxcon").html('<span style="color:red">暂无烧录程序</span>');
            $("#rjycxcon").html('<span style="color:red">暂无源程序</span>');
            $("#czsctuzhicon").html('<span style="color:red">暂无操作手册</span>');
            $("#yanshoudancon").html('<span style="color:red">暂无调试单</span>');
            $("#zhaoiancon").html('<span style="color:red">暂无照片</span>');
        }
    }

    //获取订单信息
    function AjaxGetddinfoyId() {
        var json;
        $.ajax({
            url: "../DKX_DDtypeinfo/AjaxorderbyId",
            type: "POST",
            data: { Id: '@ViewData["Id"]' },
            dataType: "JSON",
            async: false,
            success: function (response) {
                json = eval(response);
            },
            error: function (e) {
                layer.alert("操作失败！", { icon: 2 });
            }
        })
        return json;
    }

    //获取需求数据
    function AJaxxuqiujson(val) {
        var json;
        $.ajax({
            url: "../DKX_DDtypeinfo/AjaxxuqiubyorderNo",
            type: "POST",
            data: { Bjno: val },
            dataType: "JSON",
            async: false,
            success: function (response) {
                json = eval(response);
            },
            error: function (e) {
                layer.alert("操作失败！", { icon: 2 });
            }
        })
        return json;
    }

    //获取资料数据
    function AJaxziliaojson(Id) {
        var json;
        $.ajax({
            url: "../DKX_DDtypeinfo/Getalltypeziliaojsonbyddid",
            type: "POST",
            data: { ddId: Id },
            dataType: "JSON",
            async: false,
            success: function (response) {
                json = eval(response);
            },
            error: function (e) {
                layer.alert("操作失败！", { icon: 2 });
            }
        })
        return json;
    }


    var loadi;
    function ddchen() {
        loadi = layer.load(1, { shade: [0.8, '#393D49'] })
    }
    //关闭等待效果
    function disLoading() {
        layer.close(loadi);
    }

    //同步不是BOM
    function TBpushsofeBom() {
         //同步K3生产任务单
        $.ajax({
            url: "../DKX_DDtypeinfo/Ps_InstarBom",
            type: "POST",
            data: {
                Id: '@ViewData["Id"]'
            },
            dataType: "json",
            async: true,
            beforeSend: function () {
                ddchen();
            },
            success: function (response) {
                
                disLoading();
                if (response.result == "success") {
                    layer.alert(response.msg, { icon: 1 }, function () { location.reload(); });
                }
                if (response.result == "error") {
                    layer.alert(response.msg, { icon: 2 }, function () { location.reload(); });
                }
            }
        })

    }

    //同步普实产品
    function TBPscpOpen(val) {
        layer.open({
            type: 2,
            title: ['普实非标产品同步', 'font-size:14px;'],
            area: ['500px', '450px'],
            offset: '10px',
            fixed: false, //不固定
            maxmin: true,
            content: '../DKX_DDtypeinfo/TBPsCPView?Id=' + val,
            //end: function () {
            //    location.reload();
            //}
        })
    }
</script>



<div style="width: 90%; padding: 20px 20px 0 20px">
    <button class="layui-btn" onclick="TBPscpOpen('@ViewData["Id"]')">同步普实非标产品</button>
    普实物料：<span id="cpwlno" style="font-size:12px"></span>
    <button class="layui-btn" onclick="TBpushsofeBom()">同步普实BOM</button>
    普实BOM：<span id="bomno" style="font-size:12px"></span>
    <div class="layui-row layui-col-space15" style="padding-top:10px">
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">需求</legend>
                <div class="layui-field-box" id="xuqiucon">
                </div>
            </fieldset>
        </div>
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">料单</legend>
                <div class="layui-field-box" id="liaodancon">
                </div>
            </fieldset>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">箱体图</legend>
                <div class="layui-field-box" id="tuzhicon">
                </div>
            </fieldset>
        </div>
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">电器排布图</legend>
                <div class="layui-field-box" id="dqpbtuzhi">
                </div>
            </fieldset>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">电器原理图</legend>
                <div class="layui-field-box" id="qttuzhicon">
                </div>
            </fieldset>
        </div>
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">线号表</legend>
                <div class="layui-field-box" id="xhbtuzhicon">
                </div>
            </fieldset>
        </div>
    </div>

    <div class="layui-row layui-col-space15" id="rjcon">
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">烧录软件</legend>
                <div class="layui-field-box" id="rjcxcon">
                </div>
            </fieldset>
        </div>
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">源程序</legend>
                <div class="layui-field-box" id="rjycxcon">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="layui-row layui-col-space15" id="czsccon">
        <div class="layui-col-xs12">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">操作手册</legend>
                <div class="layui-field-box" id="czsctuzhicon">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">调试单</legend>
                <div class="layui-field-box" id="yanshoudancon">
                </div>
            </fieldset>
        </div>
        <div class="layui-col-xs6">
            <fieldset class="layui-elem-field">
                <legend style="font-size:12px">照片</legend>
                <div class="layui-field-box" id="zhaoiancon">
                </div>
            </fieldset>
        </div>
    </div>

</div>
