@model NewAsiaOASystem.ViewModel.Flow_RoutineStockinfoView
@{
    ViewBag.Title = "常规产品编辑页面";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Flow_RoutineStockinfo", FormMethod.Post, new { id = "form1" }))
{
    @Html.HiddenFor(m => m.Updatetime);
    @Html.HiddenFor(m => m.N_Stock);
    @Html.HiddenFor(m => m.Isbj);
    @Html.HiddenFor(m => m.Isscing);
    @Html.HiddenFor(m => m.A_Sum);
    <div style="width: 80%; padding: 20px 20px 0 20px">

        <div class="layui-form-item">
            <label class="layui-form-label">物料代码：</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.P_Bianhao, new { placeholder = "物料代码", @class = "layui-input", @oninput = "oninputajax()" })
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="color: red;" id="tscon">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品名称：</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.P_Name, new { placeholder = "产品名称", @class = "layui-input", @readonly = "readonly" })
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月用量：</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.M_Consumption, new { placeholder = "月用量", @class = "layui-input" })
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">周用量：</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.W_Consumption, new { placeholder = "周用量", @class = "layui-input" })
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">类型：</label>
            <div class="layui-input-block">
                <select class="add-function" name="Category" class="layui-input">
                    @{
                                 if (!"0".Equals(Convert.ToString(@Model.Category)))
                                 {
                        @:<option value="1" selected="selected">半成品</option>
                        @:<option value="0" >成品</option>
                              }
                                 else
                                 {
                        @:<option value="1" >半成品</option>
                        @:<option value="0"  selected="selected">成品</option>
                              }
                                                
                    }
                </select>
            </div>
        </div>
        @*<div class="system-menu-set">
            <ul class="infor-c">
                <li>
                    <span class="infor-c-width">物料代码：</span>
                    <span class="infor-c-input">@Html.TextBoxFor(m => m.P_Bianhao)</span>
                    <span style="color: red; font-size: 24px; vertical-align: middle; margin-left: 8px;">*</span>
                    <span class="desc w-register">物料代码</span>
                </li>
            </ul>
            <ul class="infor-c ">
                <li>
                    <span class="infor-c-width">产品名称：</span>
                    <span class="infor-c-input">
                        @Html.TextBoxFor(m => m.P_Name)
                    </span>
                    <span class="desc w-register">产品名称</span>
                </li>
            </ul>
            <ul class="infor-c ">
                <li>
                    <span class="infor-c-width">月用量：</span>
                    <span class="infor-c-input">
                        @Html.TextBoxFor(m => m.M_Consumption)
                    </span>
                    <span class="desc w-register">月用量</span>
                </li>
            </ul>
            <ul class="infor-c ">
                <li>
                    <span class="infor-c-width">周用量：</span>
                    <span class="infor-c-input">
                        @Html.TextBoxFor(m => m.W_Consumption)
                    </span>
                    <span class="desc w-register">周用量</span>
                </li>
            </ul>

            <ul class="infor-c ">
                <li><span class="infor-c-width">类型：</span>
                    <span>
                        <select class="add-function" name="Category">
                            @{
                                 if ("0".Equals(Convert.ToString(@Model.Category)) && null != @Model.Id)
                                 {
                                @:<option value="1" selected="selected">半成品</option>
                                @:<option value="0" >成品</option>
                              }
                                 else
                                 {
                                @:<option value="1" >半成品</option>
                                @:<option value="0"  selected="selected">成品</option>
                                                }
                                                
                            }
                        </select></span> </li>
            </ul>
        </div>*@

        <div class="inquiry-input infor-b">
            <span>
                <button onclick="return SavaForm('/Flow_RoutineStockinfo/gclist')">保存</button></span><span>
                    <button onclick="return RedirectUrl('/Flow_RoutineStockinfo/gclist')">返回</button></span>
        </div>
    </div>
}

<script type="text/javascript">
    //
    function oninputajax() {
        var P_Bianhao = $("#P_Bianhao").val();
        var json = AjaxGetk3infobybianma(P_Bianhao);
        if (json == "" || json == null) {
            $("#tscon").html("不存在该物料代码！");
            $("#P_Name").val("");
        }
        else {
            $("#tscon").html("");
            $("#P_Bianhao").val(json.fnumber);
            $("#P_Name").val(json.fname)
        }
    }


    //获取产品的基础数据
    function AjaxGetk3infobybianma(val) {
        var json;
        $.ajax({
            type: "POST",
            url: "/Flow_RoutineStockinfo/GetK3infobybianma",
            data: { bianma: val },
            dataType: "json",
            async: false,
            success: function (reslut) {
                json = reslut;
            },
            error: function (e) {
                alert("请求失败");
            }
        })
        return json;
    }
</script>

<script src="~/Scripts/Flow/Flow_RoutineStockinfo.js"></script>
