@model NewAsiaOASystem.ViewModel.SysRoleView

@{
    ViewBag.Title = "角色编辑";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@section HeadContent{
    <script type="text/javascript">
        $(function () {
            if ("" == $("#Id").val())
                $("#Ptitle").text("添加角色");
            else
                $("#Ptitle").text("修改角色");

        })
    </script>

}



@using (Html.BeginForm("Edit", "SysRole", FormMethod.Post, new { id = "form1" }))
{  
    @Html.HiddenFor(m => m.CreateTime);
    @Html.HiddenFor(m => m.CreatePerson)
    @Html.HiddenFor(m => m.UpdateTime)
    @Html.HiddenFor(m => m.UpdatePerson)
    @Html.HiddenFor(m => m.Id)
    <div class="infor">
     @*   <div class="h-right-title">您当前的位置：角色管理</div>*@
        <p id="Ptitle"></p>
        <div class="system-menu-set">
            <ul class="infor-c">
                <li><span class="infor-c-width">角色名称：</span><span class="infor-c-input">@Html.TextBoxFor(m => m.Name)</span><span style="color:red;font-size:24px;vertical-align: middle;margin-left: 8px;">*</span><span class="desc w-register">填写用户角色名称，如二级领导</span></li>
            </ul>
            <ul class="infor-c " style="display:none">
                <li><span class="infor-c-width">上级角色：</span>
                    <span>
                        @Html.DropDownList("RoleListData", ViewData["RoleList"] as SelectList, new { @class="add-function"})
                    </span><span class="desc w-register">所属角色</span></li>
            </ul>
              <ul class="infor-c ">
                <li><span class="infor-c-width">角色类型：</span>
                    <span>
                        @Html.DropDownList("RoleTypeData", ViewData["RoleTypeList"] as SelectList, new { @class="add-function"})
                    </span></li>
            </ul>

            <ul class="infor-c ">
                <li><span class="infor-c-width">状态：</span>
                    <span>
                        <select class="add-function" name="Status">
                            @{
                                      if ("0".Equals(Convert.ToString(@Model.Status)) && null != @Model.Id)
                                      {
                                @:<option value="1">启用</option>
                                @:<option value="0" selected="selected">禁用</option>
                                                }
                                      else
                                      {
                                @:<option value="1"  selected="selected">启用</option>
                                @:<option value="0">禁用</option>
                                                }
                                                
                            }
                        </select></span><span class="desc w-register">是否显示此角色</span></li>
            </ul>
        </div>
        <div class="inquiry-input infor-b">
            <span>
                <button onclick="return submitForm('/SysRole/Index')">保存</button></span><span>
                    <button onclick="return RedirectUrl('/SysRole/Index')">返回</button></span>
        </div>
    </div>
}