@model NewAsiaOASystem.ViewModel.EP_jlinfoView
@{
    ViewBag.Title = "德邦快递打印";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}
<script src="~/Scripts/Printjs/LodopFuncs.js" type="text/javascript"></script>
<script src="~/Scripts/NAjs/Printjs.js"></script>

@{
    <script type="text/javascript">
    $(function () {
        getLodop();
    })

        var LODOP; //声明为全局变量
        function myPreview() {

            //LODOP.ADD_PRINT_SETUP_BKIMG("<img border='0' width='76px'");
            //LODOP.PRINT_INITA(0,0,76,130,"打印控件功能演示_Lodop功能_自定义纸张2");
		   //LODOP.SET_PRINTER_INDEX(getSelectedPrintIndex());
		    //LODOP.SET_PRINT_PAGESIZE(1);
            //LODOP.PRINT_INITA(0, 0, "76px", "130px", "");
            LODOP.PRINT_INIT("二级模板");

	       // LODOP.SET_PRINT_PAGESIZE(0,"110mm","180mm","CreateCustomPage");
            LODOP.SET_PRINT_PAGESIZE(0, "76mm", "130mm", "CreateCustomPage");
            //第一块线 高度 15mm
            LODOP.ADD_PRINT_LINE("15mm",0,"15mm","76mm",0,1);
            LODOP.ADD_PRINT_RECT(0, "35mm", 1, "15mm", 0, 0);
            LODOP.ADD_PRINT_RECT("7.5mm", "35mm", "18mm", 1, 0, 0);
            LODOP.ADD_PRINT_RECT(0, "53mm", 1, "15mm", 0, 0);
            //第2块线 高度 16mm
            LODOP.ADD_PRINT_LINE("25mm", 0, "25mm", "76mm", 0, 1);

            //第3块线 高度 40mm
            LODOP.ADD_PRINT_LINE("35mm", 0, "35mm", "76mm", 0, 1);

           // LODOP.ADD_PRINT_LINE("30mm", "70mm", "40mm", "70mm", 0, 1);
            LODOP.ADD_PRINT_LINE("25mm", "40mm", "35mm", "40mm", 0, 1);
            //第4块
            LODOP.ADD_PRINT_LINE("56mm", 0, "56mm", "76mm", 0, 1);
            LODOP.ADD_PRINT_LINE("35mm", "15mm", "56mm", "15mm", 0, 1);//竖线
            //第5块
            LODOP.ADD_PRINT_LINE("62mm", 0, "62mm", "76mm", 0, 1);
            LODOP.ADD_PRINT_LINE("56mm", "15mm", "62mm", "15mm", 0, 1);//竖线
            //第6块
             LODOP.ADD_PRINT_LINE("80mm", 0, "80mm", "76mm", 0, 1);
            //第7块
            LODOP.ADD_PRINT_LINE("86mm", 0, "86mm", "76mm", 0, 1);
            LODOP.ADD_PRINT_LINE("80mm", "40mm", "86mm", "40mm", 0, 1);//竖线
            //第8块
            LODOP.ADD_PRINT_LINE("101mm", 0, "101mm", "76mm", 0, 1);
            LODOP.ADD_PRINT_LINE("86mm", "40mm", "101mm", "40mm", 0, 1);//竖线

            //第二大块
            LODOP.ADD_PRINT_LINE("112mm", 0, "112mm", "76mm", 0, 1);
            //2 - 2
            LODOP.ADD_PRINT_LINE("120mm", 0, "120mm", "65mm", 0, 1);
            LODOP.ADD_PRINT_LINE("111mm", "15mm", "120mm", "15mm", 0, 1);//竖线1
            //LODOP.ADD_PRINT_LINE("122mm", "80mm", "131mm", "80mm", 0, 1);//竖线2

            LODOP.ADD_PRINT_LINE("120mm", "15mm", "129mm", "15mm", 0, 1);//竖线1
            LODOP.ADD_PRINT_LINE("112mm", "65mm", "129mm", "65mm", 0, 1);//竖线1
            //LODOP.ADD_PRINT_LINE("130mm", 0, "130mm", "76mm", 0, 1);
             CreateFullBill();
            //LODOP.SET_SHOW_MODE("BKIMG_IN_PREVIEW", 1); //注："BKIMG_IN_PREVIEW"-预览包含背景图 "BKIMG_IN_FIRSTPAGE"- 仅首页包含背景图
            LODOP.PREVIEW(); //打印预览
            Closetk();
        };
        function Design1() {
            CreateFullBill();
            //LODOP.ADD_PRINT_SETUP_BKIMG("<img border='0' width='76px'");
            SET_PRINT_PAGESIZE(intOrient,intPageWidth,intPageHeight,strPageName);
            LODOP.PRINT_DESIGN();
        };
       function CreateFullBill() {
           LODOP = getLodop();
           LODOP.SET_PRINT_STYLE("FontColor", 16711680);



            LODOP.ADD_PRINT_TEXT("1mm","36mm","35mm","5mm","代收：0.00");
           var fkfs = '';
           if ('@Model.payType' == "1") { fkfs = "到付" }
           if ('@Model.payType' == "0") { fkfs = "现付" }
           if ('@Model.payType' == "2") { fkfs = "月结" }
           LODOP.ADD_PRINT_TEXT("9mm","36mm","35mm","5mm",fkfs);
           var transportType='';
           if ('@Model.transportType' == "RCP") { transportType = "大件快递360" }
           if ('@Model.transportType' == "NZBRH") { transportType = "重包入户" }
           if ('@Model.transportType' == "ZBTH") { transportType = "重包特惠" }
           if ('@Model.transportType' == "WXJTH") { transportType = "微小件特惠" }
           if ('@Model.transportType' == "JJDJ") { transportType = "经济大件" }
           if ('@Model.transportType' == "PACKAGE") { transportType = "标准快递" }
           if ('@Model.transportType' == "DEAP") { transportType = "特准快件" }
           if ('@Model.transportType' == "EPEP") { transportType = "电商尊享" }
           if ('@Model.transportType' == "CITYPIECE") { transportType = "同城件" }
            if ('@Model.transportType' == "JZKY") { transportType = "精准空运" }
           //ADD_PRINT_TEXT("top","left","w","h")
           LODOP.SET_PRINT_STYLE('FontSize', 12);
           LODOP.ADD_PRINT_TEXT("5mm","53mm","23mm","10mm",transportType);
           LODOP.SET_PRINT_STYLE('FontSize', 15);

           LODOP.ADD_PRINT_TEXT("18mm","5mm", "76mm", "10mm", '@Model.arrivedOutFieldName');

           @*var Cus_info = AjaxCust_Name('@Model.SjId');//客户信息
           var qxname = "【" + Cus_info.qyqxname + "】";
           var sname = Cus_info.LxrName;//收货人
           var sdw = Cus_info.Name;//收货单位
           var stel = Cus_info.Tel;//收货电话
            var sAdress = Cus_info.Adress;//收货地址*@
            if('@Model.SjaddId'!=null&&'@Model.SjaddId'!=""){
                var khinfo = AjaxAddresseeinfobyCustId('@Model.SjaddId');//客户信息
                var Cus_info = AjaxCust_Name('@Model.SjId');
           var qxname = "【" + khinfo.qyt + "】";
           var sname = khinfo.Aname;//收货人
           var sdw = Cus_info.Name;//收货单位
           var stel = khinfo.Tel;//收货电话
           var sAdress = khinfo.Address;//收货地址
            } else {
                var Cus_info = AjaxCust_Name('@Model.SjId');//客户信息
                var qxname = "【" + Cus_info.qyqxname + "】";
                var sname = Cus_info.LxrName;//收货人
                var sdw = Cus_info.Name;//收货单位
                var stel = Cus_info.Tel;//收货电话
                var sAdress = Cus_info.Adress;//收货地址
            }
           //第3块
           LODOP.SET_PRINT_STYLE('FontSize', 13);
           LODOP.ADD_PRINT_TEXT("27mm", "5mm", "50mm", "10mm", qxname);
           LODOP.ADD_PRINT_TEXT("33mm", "70mm", "40mm", "10mm", '@Model.DHno');
           //第4块 收
            LODOP.SET_PRINT_STYLE('FontSize', 28);
           LODOP.ADD_PRINT_TEXT("40mm", "2mm", "20mm", "20mm", "收");
            LODOP.SET_PRINT_STYLE('FontSize', 12);
           LODOP.ADD_PRINT_TEXT("36mm", "16mm", "20mm", "5mm", sname);//收件人
           LODOP.ADD_PRINT_TEXT("36mm", "36mm", "40mm", "5mm", sdw);//收件单位
           LODOP.ADD_PRINT_TEXT("41mm", "16mm", "60mm", "5mm", stel);//收件电话
           LODOP.ADD_PRINT_TEXT("46mm", "16mm", "60mm", "10mm", sAdress);//收件地址
           //第5块  寄
           var userinfo = AjaxPerson_Name('@Model.JjId');//当前登录的用户信息
           var fname = userinfo.UserName;//发货人
           var ftel = userinfo.Tel;//发货人电话
           LODOP.SET_PRINT_STYLE('FontSize', 15);
           LODOP.ADD_PRINT_TEXT("57mm", "4mm", "13mm", "20mm", "寄");
           LODOP.SET_PRINT_STYLE('FontSize', 12);
           LODOP.ADD_PRINT_TEXT("57mm", "16mm", "18mm", "5mm", fname);//寄件人
           LODOP.ADD_PRINT_TEXT("57mm", "32mm", "30mm", "5mm", ftel);//寄件电话
           LODOP.ADD_PRINT_TEXT("57mm", "56mm", "20mm", "5mm", "实名认证");//寄件电话
           //第6块 条形码
           LODOP.ADD_PRINT_BARCODE("64mm", "5mm", "60mm", "15mm", "128Auto", '@Model.Kd_no');
           LODOP.ADD_PRINT_TEXT("75mm", "63mm", "20mm", "5mm", "已验视");//
           //第7块
           var backSignBill = "无需返单";
           LODOP.SET_PRINT_STYLE('FontSize', 11);
           LODOP.ADD_PRINT_TEXT("81mm", "2mm", "40mm", "5mm", "签收单返回：" + backSignBill);//
           var insuranceValue="0.00"
           if ('@Model.insuranceValue' != 0) {
               insuranceValue='@Model.insuranceValue'
           }
           LODOP.ADD_PRINT_TEXT("81mm", "41mm", "40mm", "5mm", "保价金额：" + insuranceValue);//
           //第8块自定义
           var myDate = new Date().toLocaleString();
           LODOP.SET_PRINT_STYLE('FontSize', 10);
           LODOP.ADD_PRINT_TEXT("87mm", "2mm", "40mm", "10mm", "打印时间：" + myDate +"品名："+'@Model.cargoName');//

           LODOP.ADD_PRINT_TEXT("87mm", "41mm", "40mm", "10mm", "签收栏：请检查并确认您收到的包裹是否完整，您的签字代表您已经签收此包裹。");//

           //2-1
            LODOP.ADD_PRINT_BARCODE("102mm", "10mm", "50mm", "10mm", "128Auto", '@Model.Kd_no');
            //2-2
           LODOP.SET_PRINT_STYLE('FontSize', 15);
           LODOP.ADD_PRINT_TEXT("113mm", "5mm", "20mm", "10mm", "收");
           LODOP.SET_PRINT_STYLE('FontSize', 8);
           LODOP.ADD_PRINT_TEXT("113mm", "16mm", "15mm", "3mm", sname);//收件人
           LODOP.ADD_PRINT_TEXT("113mm", "32mm", "40mm", "6mm", stel);//收件
           LODOP.ADD_PRINT_TEXT("117mm", "16mm", "50mm", "6mm", sAdress);//收件地址
           LODOP.SET_PRINT_STYLE('FontSize', 15);
           LODOP.ADD_PRINT_TEXT("121mm", "5mm", "20mm", "20mm", "寄");
           LODOP.SET_PRINT_STYLE('FontSize', 8);
           LODOP.ADD_PRINT_TEXT("121mm", "16mm", "15mm", "3mm", fname);//寄件人
           LODOP.ADD_PRINT_TEXT("121mm", "36mm", "40mm", "6mm", ftel);//寄件电话
           LODOP.ADD_PRINT_TEXT("124mm", "16mm", "50mm", "6mm", "苏州新亚科技-太仓市花墙工业区新亚路二号");//收件地址

           LODOP.SET_PRINT_STYLE('FontSize', 25);
           LODOP.ADD_PRINT_TEXT("113mm", "66mm", "20mm", "18mm", "轻");

           @*LODOP.SET_PRINT_STYLE('FontSize', 10);
           LODOP.ADD_PRINT_TEXT("155mm", "5mm", "20mm", "18mm", "备注：");
           LODOP.ADD_PRINT_TEXT("165mm", "5mm", "100mm", "20mm", "客户订单号："+'@Model.logisticID');*@
           //LODOP.ADD_PRINT_TEXT(15,137,157,25,"交通银行（      ）");
           //LODOP.SET_PRINT_STYLEA(2,"FontName","隶书");
           //LODOP.SET_PRINT_STYLEA(2,"FontSize",11);
           //LODOP.SET_PRINT_STYLEA(2,"FontColor",0);

           //LODOP.SET_PRINT_STYLEA(4,"FontColor",0);
           //LODOP.ADD_PRINT_TEXT(75,37,431,20,"机构:109110 交易代码:010110");
           //LODOP.ADD_PRINT_TEXT(102,37,431,20,"个人网银用户签约成功！");
           //LODOP.ADD_PRINT_TEXT(129,37,431,20,"网点名称：东城分行营业部");
           //LODOP.ADD_PRINT_TEXT(156,37,431,20,"主卡卡号：");
           //LODOP.ADD_PRINT_TEXT(183,37,431,20,"客户姓名：");
           //LODOP.ADD_PRINT_TEXT(212,37,431,20,"登陆方式：用户名登陆");

           //LODOP.ADD_PRINT_TEXT(249,169,221,20,"以上内容已核实确认无误，客户签名：");
           //LODOP.ADD_PRINT_TEXT(106,484,23,127,"第二联客户留联");
           //LODOP.SET_PRINT_STYLEA(13,"FontColor",0);
           //LODOP.ADD_PRINT_TEXT(284,21,74,20,"授权员");
           //LODOP.SET_PRINT_STYLEA(14,"FontColor",0);
           //LODOP.ADD_PRINT_TEXT(284,200,74,20,"复核员");
           //LODOP.SET_PRINT_STYLEA(15,"FontColor",0);
           //LODOP.ADD_PRINT_TEXT(284,346,74,20,"经办员");
           //LODOP.SET_PRINT_STYLEA(16,"FontColor",0);

        @*var userinfo = AjaxPerson_Name('@ViewData["UID"]');//当前登录的用户信息

        var fname = userinfo.UserName;//发货人
        var ftel = userinfo.Tel;//发货人电话
        LODOP.ADD_PRINT_TEXT(106, 100, 139, 25, "苏州新亚科技有限公司");
        LODOP.ADD_PRINT_TEXT(106, 300, 75, 25, fname);
        LODOP.ADD_PRINT_TEXT(130, 122, 154, 25, ftel);
        LODOP.ADD_PRINT_TEXT(160, 100, 253, 45, "太仓市花墙工业区新亚路二号");

        var Cus_info = AjaxCust_Name('@ViewData["Id"]');//客户信息
        var sname = Cus_info.LxrName;//收货人
        var sAdress = Cus_info.Adress;//收货地址
        var sdw = Cus_info.Name;//收货单位
        var stel = Cus_info.Tel;//收货电话
        LODOP.ADD_PRINT_TEXT(223, 101, 137, 25, sdw);
        LODOP.ADD_PRINT_TEXT(223, 300, 75, 25, sname);
        LODOP.ADD_PRINT_TEXT(250, 100, 293, 25, stel);
        LODOP.ADD_PRINT_TEXT(279, 100, 299, 65, sAdress);

        var jdata = GetNewdatetimejson();//寄件日期
        LODOP.ADD_PRINT_TEXT(293, 641, 100, 25, fname);
        LODOP.ADD_PRINT_TEXT(318, 595, 155, 25, jdata);*@

    };
  var loadi;
           function ddchen() {
               loadi = layer.load(1, { shade: [0.8, '#393D49'] })
    };
           //关闭等待效果
           function disLoading() {
               layer.close(loadi);
    };



    //订单撤销
    function revokeorders() {
         $.ajax({
            url: "../EP_jlinfo/DBrevokeorders",
            type: "POST",
            dataType: "JSON",
            async: true,
            beforeSend: function () {
                ddchen();
            },
            data: {"Id":'@Model.Id'} ,
                   success: function (response) {
                       disLoading();
                       if(response.result=="true")
                       {
                           layer.alert(response.msg, { icon: 1 }, function () {  location.reload();});
                       }
                       if(response.result=="false") {
                           layer.alert(response.msg, { icon: 2 });
                       }

                   },
                   error: function (e) {
                       disLoading();
                       layer.alert("操作失败！", { icon: 2 });
                   }
               })
        };

    //关闭页面
        function Closetk() {
             layer.close()
        }
    </script>
}


<div style="width: 100%; height: auto; overflow: hidden; padding:10px 10px">

    @{
        if (Model.logisticID == null)
        {
            <fieldset class="layui-elem-field">
                <legend>快递基础信息</legend>
                <div class="layui-field-box">

                    <ul>
                        <li>
                            <span>支付方式：</span>
                            <span class="inquiry-input">
                                <select id="txtpayType" name="txtpayType" style="width:120px">
                                    <option value="2">发货人付款（月结）</option>
                                    <option value="1">收货人付款（到付）</option>
                                    <option value="0">发货人付款（现付）</option>
                                </select>
                            </span>
                        </li>
                        <li>
                            <span>运输方式：</span>
                            <span class="inquiry-input">
                                <select id="txttransportType" name="txttransportType" style="width:120px">
                                    <option value="RCP">大件快递360</option>
                                    <option value="NZBRH">重包入户</option>
                                    <option value="ZBTH">重包特惠</option>
                                    <option value="WXJTH">微小件特惠</option>
                                    <option value="JJDJ">经济大件</option>
                                    <option value="PACKAGE">标准快递</option>
                                    <option value="DEAP">特准快件</option>
                                    <option value="EPEP">电商尊享</option>
                                    <option value="CITYPIECE">同城件</option>
                                    <option value="JZKY">精准空运</option>
                                </select>
                            </span>
                        </li>

                        <li>
                            <span>送货方式：</span>
                            <span class="inquiry-input">
                                <select id="txtdeliveryType" name="txtdeliveryType" style="width:120px">
                                    <option value="2">送货进仓</option>
                                    <option value="3">送货（不含上楼</option>
                                    <option value="4">送货上楼</option>
                                    <option value="5">大件上楼</option>
                                    <option value="1">自提</option>
                                </select>
                            </span>
                        </li>


                        <li>
                            <span>货物名称：</span>
                            <span class="inquiry-input">
                                <input type="text" name="txtcargoName" id="txtcargoName" value="文件" />
                            </span>
                        </li>
                        @*<li>
                                <span>快递数量：</span>
                                <span class="inquiry-input">
                                    <input type="text" name="txtDHno" id="txtDHno" value="1" />
                                </span>
                            </li>*@
                        <li>
                            <span>总重量：</span>
                            <span class="inquiry-input">
                                <input type="text" name="txttotalWeight" id="txttotalWeight" value="1" /> / KG
                            </span>
                        </li>
                        <li>
                            <span>保价金额：</span>
                            <span class="inquiry-input">
                                <input type="text" name="txtinsuranceValue" id="txtinsuranceValue" value="0" />
                            </span>
                        </li>
                    </ul>
                </div>
            </fieldset>
        }
        else if (Model.Istscg == 0)
        {
            <blockquote class="layui-elem-quote">
                <span style="color:#FF5722">
                    订单下单成功!
                </span>预埋单号：@Model.Kd_no  <br />
                业务流水号：@Model.logisticID <br />
                下单时间：@Model.Jjdatetime<br />
                请点击打印，如果要取消下单，请点击下方取消订单按钮
            </blockquote>


        }
        else if (Model.Istscg == 2)
        {
            <blockquote class="layui-elem-quote">
                <span style="color:#FF5722">
                    订单已经撤销!
                </span>
            </blockquote>
        }
    }

    <div class="" style="text-align:center">

        @{
            if (Model.logisticID == null)
            {
                <span>
                    @*<button onclick="return tsdyorder()" class="layui-btn layui-btn-normal">云下单</button>*@
                </span>
            }
            else if (Model.Istscg == 0)
            {
                <span>
                    <button onclick="return myPreview()" class="layui-btn layui-btn-normal">电子面单打印</button>
                </span>
                <span>
                    <button onclick="return revokeorders()" class="layui-btn layui-btn-danger">订单取消</button>
                </span>
            }

        }

        @*<span>
                <button onclick="return myPreview()">打印</button>
            </span>
            <span>
                <button onclick="return Closetk()">关闭</button>
            </span>*@
    </div>
</div>

<style>
    .layui-field-box ul li {
        float: left;
        margin-left: 2px;
        padding-bottom: 5px;
    }

        .layui-field-box ul li span {
            font-size: 12px;
        }
</style>
