@model NewAsiaOASystem.ViewModel.WL_DkxInfoView
@{
    ViewBag.Title = "电控箱初始信息录入";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@section HeadContent{
<script type="text/javascript">
    $(function () {
        $(WL_SSD).focus();
    })
  </script>
    }

@using (Html.BeginForm("Edit", "WL_DkxInfo", FormMethod.Post, new { id = "form1" }))
{ 
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m=>m.SC_time)//生产时间
    @Html.HiddenFor(m=>m.SC_PH)//生产批号
    @Html.HiddenFor(m=>m.CS_zt)//状态
    @Html.HiddenFor(m=>m.CS_time)//测试时间
    @Html.HiddenFor(m=>m.Xs_datetime)//销售时间
    @Html.HiddenFor(m=>m.Xs_jxsId)//经销商Id
    @Html.HiddenFor(m=>m.Xs_gcsId);//工程商Id
    @Html.HiddenFor(m=>m.Sx_time);//上线时间
    @Html.HiddenFor(m=>m.WL_BXStarttime);//保修时间开始
    @Html.HiddenFor(m => m.WL_BXEndtime);//保修时间结束
    @Html.HiddenFor(m=>m.WL_zt);//电控箱状态
    @Html.HiddenFor(m =>m.Jf_zt);//缴费状态
    @Html.HiddenFor(m => m.Jf_starttime);//上次缴费时间
    @Html.HiddenFor(m=>m.Jf_endtime);//下次缴费时间
    @Html.HiddenFor(m => m.Jf_cs);//缴费次数;
    @Html.HiddenFor(m=>m.C_time);//创建时间
    @Html.HiddenFor(m => m.C_name);//创建人
    @Html.HiddenFor(m=>m.Sort);//排序
    @Html.HiddenFor(m=>m.States);// 记录状态
    @Html.HiddenFor(m=>m.Beizhu);//备注       
    <div class="infor">
         <div class="system-menu-set">
            <ul class="infor-c">
                <li>
                    <span class="infor-c-width">SID：</span>
                    <span class="infor-c-input">@Html.TextBoxFor(m => m.WL_SSD)</span>
                </li>
            </ul>
         </div>

        <div class="inquiry-input infor-b">
            <span>
               <button onclick="return DkxjSavaForm('/WL_DkxInfo/addPage')">保存</button></span><span>
               <button onclick="return RedirectUrl('/WL_DkxInfo/list')">返回</button></span>
        </div>
    </div>
}

<script type="text/javascript">
    //电控初步信息录入 信息表单提交
    function DkxjSavaForm(RetUrl) {
        //表单验证
        var options = {
            beforeSubmit: function () {
                return true;
            },
            dataType: "json",//这里是指控制器处理后返回的类型，这里返回json格式。 
            success: function (context) {
                if ("success" == context.result) {
                    //$.messager.alert("操作提示", '操作成功！', 'info', function () {
                        location.href = RetUrl;
                    //});
                }
                if ("error2" == context.result) {
                    $.messager.alert("操作提示", '请勿重复扫描！', 'error', function () {
                    location.href = RetUrl;
                    });
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.messager.alert("操作提示", '操作失败！', 'error');
            }
        }
        $('#form1').ajaxSubmit(options);
        return false; //为了不刷新页面,返回false 
        //return submitForm('/WL_DkxInfo/List');
    }


</script>



