@model NewAsiaOASystem.ViewModel.DisImmuneCenterView
@{
    ViewBag.Title = "部门管理";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}



@section HeadContent{
    <link href="~/Scripts/zTree_v3/css/demo.css" rel="stylesheet" />
    <link href="~/Scripts/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/Scripts/zTree_v3/js/jquery.ztree.core-3.5.min.js"></script>
    <script src="~/Scripts/zTree_v3/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script src="~/Scripts/NewAsiaOASystem/DisImmuneCenter.js"></script>



    @*<script type="text/javascript">
        function chec() {
            @{
                if (@Model.Name == "" || @Model.Name == null)
                    {
                       @:  return false;
                    }
                    else
                    {
                        @: return true;
                    }
            }
            
        }
       
    </script>*@




}



@using (Html.BeginForm("Edit", "DisImmuneCenter", FormMethod.Post, new { id = "form1" }))
{  
    @Html.HiddenFor(m => m.CreateTime);
    @Html.HiddenFor(m => m.CreatePerson)
    @Html.HiddenFor(m => m.UpdateTime)
    @Html.HiddenFor(m => m.UpdatePerson)
    @Html.HiddenFor(m => m.Id)
    <div class="infor">
        <p id="Ptitle"></p>
        <div class="system-menu-set">
            <ul class="infor-c">
                <li><span class="infor-c-width">部门名称：</span><span class="infor-c-input">@Html.TextBoxFor(m => m.Name)</span><span style="color:red;font-size:24px;vertical-align: middle;margin-left: 8px;">*</span><span class="desc w-register">填写部门名称</span></li>
            </ul>
            
          @*  <ul class="infor-c ">
                <li><span class="infor-c-width">所管理的社区：</span>
                    <span>
                        <input id="sel_Comm"  class="add-function" type="text" readonly="readonly"  onclick="showMenu();" />
                    </span><span style="color:red;font-size:24px;vertical-align: middle;margin-left: 8px;">*</span><span class="desc w-register">请选择所属区域</span></li>
            </ul>*@
             <ul class="infor-c">
                <li><span class="infor-c-width">联系人：</span><span class="infor-c-input">@Html.TextBoxFor(m => m.DisPerson)</span></li>
            </ul>
             <ul class="infor-c">
                <li><span class="infor-c-width">联系电话：</span><span class="infor-c-input">@Html.TextBoxFor(m => m.DisPhone)</span></li>
            </ul>
            <ul class="infor-c">
                <li><span class="infor-c-width">显示次序：</span><span class="infor-c-input">@Html.TextBoxFor(m => m.Sort)</span><span class="desc w-register">此区域排列顺序</span></li>
            </ul>
          @*  <ul class="infor-c">
                <li><span class="infor-c-width">免疫点坐标：</span><span class="infor-c-input">@Html.TextBoxFor(m => m.D_Lat):@Html.TextBoxFor(m => m.D_lon)</span><span style=" color:red;font-size:24px;vertical-align: middle;margin-left: 8px;">*</span><span class="desc w-register">此免疫的位置坐标</span></li>
            </ul>*@
           @* <ul class="infor-c">
                <li><span class="infor-c-width">单位地址：</span><span class="infor-c-input">@Html.TextBoxFor(m => m.DisAddress, new {style="width:400px;"})</span></li>
            </ul>*@
                <ul class="infor-c">
                <li><span class="infor-c-width">备注：</span><span class="infor-c-input">@Html.TextAreaFor(m => m.Description, new {style="width:400px;height:150px"})</span></li>
            </ul>
            <ul class="infor-c ">
                <li><span class="infor-c-width">状态：</span>
                    <span>
                        <select class="add-function" name="Status">
                            @{
                              if ("0".Equals(Convert.ToString(@Model.Status)) && null != @Model.Id)
                              {
                                @:<option value="1">启用</option>
                                @:<option value="0" selected="selected">禁用</option>
                                                }
                              else
                              {
                                @:<option value="1"  selected="selected">启用</option>
                                @:<option value="0">禁用</option>
                                                }
                                                
                            }
                        </select></span><span class="desc w-register"> 是否启</span></li>
            </ul>
        </div>
        <div class="inquiry-input infor-b">
            <span>
                <button onclick="return submitForm('/DisImmuneCenter/List')">保存</button></span><span>
                    <button onclick="return RedirectUrl('/DisImmuneCenter/List')">返回</button></span>
        </div>
    </div>
}

<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
	<ul id="CommList" class="ztree" style="margin-top:0; width:180px; height: 300px;"></ul>
</div>