@model NewAsiaOASystem.ViewModel.KS_CLPersonnelInfoView
@{
    ViewBag.Title = "客诉处理人数据编辑";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<div style="width: 80%; padding: 20px 20px 0 20px">

    @using (Html.BeginForm("KSCLREdit", "KSAftersale", FormMethod.Post, new { id = "form1" }))
    {
        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.C_time);
        @Html.HiddenFor(m => m.C_name);
        @Html.HiddenFor(m => m.Up_time);
        @Html.HiddenFor(m => m.Up_name);
        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "姓名", @class = "layui-input" })
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电话：</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.Tel, new { placeholder = "电话", @class = "layui-input" })
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(m => m.Sort, new { placeholder = "排序 越小越空前", @class = "layui-input" })
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">帐号：</label>
            <div class="layui-input-block">
                @Html.DropDownList("zhListData", ViewData["getADList"] as SelectList, new { @class = "layui-input" })
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否启用：</label>
            <div class="layui-input-block">
                <select class="layui-input" name="Start">
                    @{
                                       if ("0".Equals(Convert.ToString(@Model.Start)) && null != @Model.Id)
                                       {
                        @:<option value="1">禁用</option>
                        @:<option value="0" selected="selected">启用</option>
                                                }
                                       else
                                       {
                        @:<option value="0"  selected="selected">启用</option>
                        @:<option value="1">禁用</option>
                                                }
                                                
                    }
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="return ksclrAjaxform()">确定</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    //表单提交
    function ksclrAjaxform() {
        var Name = $("#Name").val();
        var Tel = $("#Tel").val();
        var Sort = $("#Sort").val();
        var zhListData = $("#zhListData").val();
        if (Name == "") {
            layer.alert("姓名不为空！", { icon: 2 });
            return false;
        }
        if (Tel == "") {
            layer.alert("电话不为空！", { icon: 2 });
            return false;
        }
        if (zhListData == "" || zhListData == null) {
            layer.alert("请选择关联的帐号！", { icon: 2 });
            return false;
        }
        //表单验证
        var options = {
            beforeSubmit: function () {
                return true;
            },
            dataType: "json",//这里是指控制器处理后返回的类型，这里返回json格式。  
            success: function (context) {
                if (context.result == "success") {
                    layer.alert("提交成功！", { icon: 1 }, function () { window.location.href = "/KSAftersale/KSCLRYList"; });
                }

                if (context.result == "error") {
                    layer.alert("提交失败！", { icon: 2 }, function () { location.reload(); });
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.messager.alert("操作提示", '操作失败！', 'error');
            }
        }
        $('#form1').ajaxSubmit(options);
        return false; //为了不刷新页面,返回false 
    }
</script>
