@model NewAsiaOASystem.ViewModel.NQ_BlxxinfoView
@{
    ViewBag.Title = "不良现象编辑页面";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@using (Html.BeginForm("Edit", "NQ_Blxxinfo", FormMethod.Post, new { id = "form1" }))
{
    @Html.HiddenFor(m => m.C_Data);
    @Html.HiddenFor(m => m.Id)
    <div class="infor">
        <p id="Ptitle"></p>
        <div class="system-menu-set">
            <ul class="infor-c">
                <li>
                    <span class="infor-c-width">不良现象：</span>
                    <span class="infor-c-input">@Html.TextBoxFor(m => m.Name)</span>
                    <span style="color: red; font-size: 24px; vertical-align: middle; margin-left: 8px;">*</span>
                </li>
            </ul>
            <ul class="infor-c ">
                <li><span class="infor-c-width">状态：</span>
                    <span>
                        <select class="add-function" name="Status">
                            @{
                                  if ("0".Equals(Convert.ToString(@Model.Status)) && null != @Model.Id)
                                  {
                                @:<option value="1">启用</option>
                                @:<option value="0" selected="selected">禁用</option>
                              }
                                  else
                                  {
                                @:<option value="1"  selected="selected">启用</option>
                                @:<option value="0">禁用</option>
                                                }
                                                
                            }
                        </select></span><span class="desc w-register"> 是否启</span></li>
            </ul>
            <ul class="infor-c">
                <li>
                    <span class="infor-c-width">备注：</span>
                    <span class="infor-c-input">@Html.TextAreaFor(m => m.Remark)</span>
                </li>
            </ul>
        </div>
        <div class="inquiry-input infor-b">
            <span>
                <button onclick="return SavaFormblxx()">保存</button></span><span>
                    <button onclick="return RedirectUrl('/NQ_Blxxinfo/List')">返回</button></span>
        </div>
    </div>  
}

<script src="~/Scripts/NAjs/NQ_Blinfo.js"></script>
