@{
    ViewBag.Title = "订单二维码打印";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@section HeadContent{
    <script type="text/javascript">

        $(function () {

            var XSinfomodel = ajaxXSinfojson('@ViewData["EwmOrderId"]');
            $("#XS_Id").val(XSinfomodel.Id);
            $("#DDJE").html(XSinfomodel.Xs_je);
            $("#khid").val(XSinfomodel.KhId)
            $("#XSDATE").html(showDate(XSinfomodel.Xs_datetime));
               var Cust = AjaxCust_Name(XSinfomodel.KhId);//客户信息
               $("#Cname").html(Cust.Name);
               var Addresseeinfo = AjaxAddresseeinfobyCustId(XSinfomodel.AddresseeId);//收件人信息
               $("#Clxr").html(Addresseeinfo.Address);
               $("#Ctel").html(Addresseeinfo.Tel);
               $("#lxrname").html(Addresseeinfo.Aname);
               dataGrid();
               createImage('@ViewData["EwmOrderId"]');//订单二维码
             @*  $('#qrcode').qrcode({
                   width: 90, //宽度
                   height: 90, //高度
                   text: '@ViewData["EwmOrderId"]', //内容
                   typeNumber: -1,//计算模式
                   correctLevel: 2,//二维码纠错级别
                   background: "#ffffff",//背景颜色
                   foreground: "#000000"  //二维码颜色
               });*@
        })


        function dataGrid() {
            var jsonStr;
            jsonStr = eval(ajaxXSdetailjson('@ViewData["EwmOrderId"]'));
            $("#content").html("");
            if (jsonStr != null) {
                if (jsonStr != null) {
                    var html = "";
                    html = '<table style=" width:100%; height:45px; margin:auto;">';
                    for (var i = 0, j = jsonStr.length; i < j; i++) {
                        var Perinfo = GetPerinfobyId(jsonStr[i].cpId);
                        if (i % 2 == 0)
                            html += '<tr class="h-table-content-r1">';
                        else
                            html += '<tr class="h-table-content-r">';
                        html += '<td width="48%" style="font-size:14px;"  align="center">' + Perinfo.Pname + '</td>';
                        html += '<td width="10%" style="font-size:14px;"  align="center">x' + jsonStr[i].SL + '</td>';
                        html += '<td width="10%" style="font-size:14px;"  align="center">' + jsonStr[i].Je + '.00元</td>';

                        html += '</tr>';
                    }
                    html += '</table>';
                    $("#content").html(html);
                }
            }
        }

        //查询销售订单信息
        function ajaxXSinfojson(r_id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NA_XSinfo/GetXsinfojson",
                data: { Id: r_id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = reslut;
                },
                error: function (e) {
                    alert("请求失败!");
                }
            })
            return json;
        }

        //查询客户信息
        function AjaxCust_Name(Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/Api/NAWebApi/GetNACusjs",
                data: { "": Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = eval('(' + reslut + ')');
                },
                error: function (e) {
                    alert("请求失败");
                }
            })
            return json;
        }

        //根据客户ID 查找收件人信息
        function AjaxAddresseeinfobyCustId(Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NA_XSinfo/GetaddresseeInfobyCustId",
                data: { Id: Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = eval(reslut);
                },
                error: function (e) {
                    alert("请求失败");
                }
            })
            return json;
        }


        //根据销售订单Id 查找销售明细
        function ajaxXSdetailjson(XS_Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NA_XSinfo/GetXsdetailjson",
                data: { Id: XS_Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = reslut;
                },
                error: function (e) {
                    alert("请求失败");
                }
            })
            return json;
        }


        /*根据产品Id 查找产品信息*/
        function GetPerinfobyId(Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NQ_CHdetailinfo/GetPreinfobyId",
                data: { ID: Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = reslut;
                },
                error: function (e) {
                    alert("请求失败！");
                }
            })
            return json;
        }


        function smshow(val,val2,val3,val4) {
            var Id = "'" + val + "'";
            var khid = "'" + val2 + "'";
            var mxid="'"+val3+"'";
            var s = '<a href="#" onclick="smch(' + Id + ','+ khid+','+mxid +','+val4+')">扫码出货</a>&nbsp;&nbsp;';
            return s;
        }

        //扫码出货
        function smch(val1,val2,val3,val4) {
            var id = val1;
            var khid = val2;
            var mxId = val3;
            if (val4 == "1") {
                if (id != "") {
                    $('#windowDia').html("<iframe src=../NA_XSinfo/ChSmSID?Id=" + id + "&&khId=" + khid + "&&mxId=" + mxId + "&&NG= style='border:0px;' width='400px' height='300px'></iframe>");
                    $("#windowDia").window({
                        title: '出货扫描（SID）',
                        modal: true,
                        closed: false,
                        width: 455,
                        height: 300,
                    });
                }
            } else {
                alert("不是物联网电控箱无需扫码发货！");
            }
        }

        function printpr(a, b) {
            $("#noprint").css("display", "none")
            //pagesetup_null();
            //document.all.WebBrowser.Execwb(a, b);
            window.print();
            $("#noprint").css("display", "block")
        }


        //生成二维码
        function createImage(val) {
            var content = val;
            //ajax开始
            $.post("/publicAPI/GetORImage/",
                { "content": content },
                function (data) {
                    $('#imgDiv').empty();
                    $('#imgDiv').append('<img id="ORImage" />');
                    $("#ORImage").attr("src", data);
                });
            //ajax结束
        }

        //同步普实订单
        function opentbpsView() {
            layer.open({
                type: 2,
                title: ['销售订单同步普实', 'font-size:14px;'],
                area: ['95vw', '500px'],
                offset: '10px',
                fixed: false, //不固定
                maxmin: true,
                content: '../NA_XSinfo/TBPsorderView?Id=' + '@ViewData["EwmOrderId"]',
                //end: function () {
                //    location.reload();
                //}
            })
        }

        var loadi;
        function ddchen() {
            loadi = layer.load(1, { shade: [0.8, '#393D49'] })
        }
        //关闭等待效果
        function disLoading() {
            layer.close(loadi);
        }

        //更新订单
        function openupdateorder() {
          $.ajax({
            url: "../NA_XSinfo/updateDsorder",
            type: "POST",
            data: { Id: '@ViewData["EwmOrderId"]'},
            dataType: "json",
            async: true,
            beforeSend: function () {
                ddchen();
            },
            success: function (response) {
                disLoading();
                if (response.result == "success") {
                    layer.alert(response.msg, { icon: 1 }, function () { location.reload(); });
                }
                if (response.result == "error") {
                    layer.alert(response.msg, { icon: 2 }, function () { location.reload(); });
                }
            }
        })
        }
    </script>
  }

<input type="hidden" name="khid" id="khid" />
 <div style="width:650px; margin: auto;">

     <div style="width:99%; height:180px; margin-top:10px; border:1px solid #808080; padding-left:5px;">
         <ul>
             <li>
                  <span class="infor-c-width2">订单金额：</span>
                  <span class="infor-c-q2"><label id="DDJE"></label>.00元</span>
             </li>
              <li>
                  <span class="infor-c-width2">下单时间：</span>
                  <span class="infor-c-q2"><label id="XSDATE"></label></span>
             </li>
              <li>
                  <span class="infor-c-width2">公司名称：</span>
                  <span class="infor-c-q2"> <label id="Cname"></label></span>
              </li>
              <li>
                  <span class="infor-c-width2">收件人：</span>
                  <span class="infor-c-q2"><label id="lxrname"></label></span>
              </li>
              <li>
                  <span class="infor-c-width2">电话：</span>
                  <span class="infor-c-q2">
                      <label id="Ctel"></label>
                  </span>
              </li>
              <li>
                  <span class="infor-c-width2">地址：</span>
                  <span class="infor-c-q2"><label id="Clxr"></label></span>
              </li>
     @*        <li>
                
<div id="qrcode"></div> 
             </li>*@
         </ul>
     </div>

     <div style=" position:absolute; right:90px; top:30px;">
          <div style="" id="imgDiv">
     </div>
     </div>
     <div style="width:99%; height:auto; margin-top:10px; border:1px solid #808080; padding-left:2px; padding-right:2px;">
          <table style=" width:100%; height:45px; margin:auto; background:#eee8e8;">
               <tr>
                   <td style="width:48%; font-size:14px;" align="center">商品名称</td>
                   <td style="width:10%;font-size:14px;" align="center">数量</td>
                   <td style="width:10%;font-size:14px;" align="center">总价</td>
                         
               </tr>
          </table>
          <div id="content">

          </div>
     </div>
   <!--endprint-->
    <table width="671" height="26" border="0" align="center" cellpadding="0" cellspacing="0" id="noprint" >
        <tr>
            <td width="671" style="height: 27px">
                <div align="center" style="padding-top:20px">
                    <a href="#" onclick=" printpr(6, 1) ">打印</a>
                </div>
                <button type="button" class="layui-btn" onclick="opentbpsView()" style="float:right">同步普实</button>
                <button type="button" class="layui-btn" onclick="openupdateorder()" >更新订单</button>
            </td>
        </tr>
    </table>
 </div>

<div id="windowDia" class="easyui-window" closed="true" style="width:455px; height: 300px; padding:10px;"></div>
<script src="~/Scripts/jquery.qrcode.min.js"></script>
 
