@{
    ViewBag.Title = "SmOrderinfoView";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@section HeadContent{
    <script type="text/javascript">

        $(function () {
            $(SID).focus();
            var XSinfomodel = ajaxXSinfojson('@ViewData["SMOrderId"]');
            if (XSinfomodel == null) {
                window.location = "/NA_XSinfo/SmSelectOrder";
                return false;
            }
            if (XSinfomodel.SM_ZT == "1") {
                window.location = "/NA_XSinfo/SmSelectOrder";
                return false;
            } else {
                $("#XS_Id").val(XSinfomodel.Id);
                $("#DDJE").html(XSinfomodel.Xs_je);
                $("#khid").val(XSinfomodel.KhId)
                $("#orderId").val('@ViewData["SMOrderId"]');
                $("#XSDATE").html(showDate(XSinfomodel.Xs_datetime));
                var Cust = AjaxCust_Name(XSinfomodel.KhId);//客户信息
                var fhsl = GetsmcountbyordermxId();
                $("#smsl").html(fhsl);
                $("#Cname").html(Cust.Name);
                var Addresseeinfo = AjaxAddresseeinfobyCustId(XSinfomodel.AddresseeId);//收件人信息
                $("#Clxr").html(Addresseeinfo.Address);
                $("#Ctel").html(Addresseeinfo.Tel);
                $("#lxrname").html(Addresseeinfo.Aname);
                dataGrid();
            }
        })


        function dataGrid() {
            var jsonStr;
            jsonStr = eval(ajaxXSdetailjson('@ViewData["SMOrderId"]'));
            var FHSL = 0;;
            $("#content").html("");
            if (jsonStr != null) {
                if (jsonStr != null) {
                    var html = "";
                    html = '<table style=" width:100%; height:45px; margin:auto;">';
                    for (var i = 0, j = jsonStr.length; i < j; i++) {
                        var Perinfo = GetPerinfobyId(jsonStr[i].cpId);
                        if (i % 2 == 0)
                            html += '<tr class="h-table-content-r1">';
                        else
                            html += '<tr class="h-table-content-r">';
                        html += '<td width="48%" style="font-size:14px;"  align="center">' + Perinfo.Pname + '</td>';
                        html += '<td width="10%" style="font-size:14px;"  align="center">x' + jsonStr[i].SL + '</td>';
                        html += '<td width="10%" style="font-size:14px;"  align="center">' + jsonStr[i].Je + '.00元</td>';
                        html += '</tr>';
                        FHSL = FHSL + jsonStr[i].SL
                    }
                    html += '</table>';
                    $("#content").html(html);
                    $("#fhsl").html(FHSL);
                    $("#zsl").val(FHSL);
                }
            }
        }

        //查询销售订单信息
        function ajaxXSinfojson(r_id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NA_XSinfo/GetXsinfojson",
                data: { Id: r_id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    if (reslut.status == "true") {
                        json = null;
                    } else {
                        json = reslut;
                    }
                },
                error: function (e) {
                    alert(e);
                    alert("请求失败11!");
                }
            })
            return json;
        }

        //查询客户信息
        function AjaxCust_Name(Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/Api/NAWebApi/GetNACusjs",
                data: { "": Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = eval('(' + reslut + ')');
                },
                error: function (e) {
                    alert("请求失败");
                }
            })
            return json;
        }

        //根据客户ID 查找收件人信息
        function AjaxAddresseeinfobyCustId(Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NA_XSinfo/GetaddresseeInfobyCustId",
                data: { Id: Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = eval(reslut);
                },
                error: function (e) {
                    alert("请求失败");
                }
            })
            return json;
        }


        //根据销售订单Id 查找销售明细
        function ajaxXSdetailjson(XS_Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NA_XSinfo/GetXsdetailjson",
                data: { Id: XS_Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = reslut;
                },
                error: function (e) {
                    alert("请求失败");
                }
            })
            return json;
        }


        /*根据产品Id 查找产品信息*/
        function GetPerinfobyId(Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NQ_CHdetailinfo/GetPreinfobyId",
                data: { ID: Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = reslut;
                },
                error: function (e) {
                    alert("请求失败！");
                }
            })
            return json;
        }

        function smshow(val,val2,val3,val4) {
            var Id = "'" + val + "'";
            var khid = "'" + val2 + "'";
            var mxid="'"+val3+"'";
            var s = '<a href="#" onclick="smch(' + Id + ','+ khid+','+mxid +','+val4+')">扫码出货</a>&nbsp;&nbsp;';
            return s;
        }

        //扫码出货
        function smch(val1,val2,val3,val4) {
            var id = val1;
            var khid = val2;
            var mxId = val3;
            if (val4 == "1") {
                if (id != "") {
                    $('#windowDia').html("<iframe src=../NA_XSinfo/ChSmSID?Id=" + id + "&&khId=" + khid + "&&mxId=" + mxId + "&&NG= style='border:0px;' width='400px' height='300px'></iframe>");
                    $("#windowDia").window({
                        title: '出货扫描（SID）',
                        modal: true,
                        closed: false,
                        width: 455,
                        height: 300,
                    });
                }
            } else {
                alert("不是物联网电控箱无需扫码发货！");
            }
        }

        function GetsmcountbyordermxId() {
            var json;
            $.ajax({
                type: "POST",
                url: "../NA_XSinfo/GetsmCount",
                data: { ordermxId: '@ViewData["SMOrderId"]' },
                 dataType: "json",
                 async: false,
                 success: function (reslut) {
                     json = reslut.status;
                 },
                 error: function (e) {
                     alert("请求失败！");
                 }
             })
             return json;
         }
    </script>
   }


 <div style="width:800px; margin: auto;">
 
     <div style="width:99%; height:180px; margin-top:10px; border:1px solid #808080; padding-left:5px;">
         <ul>
             <li>
                  <span class="infor-c-width2">订单金额：</span>
                  <span class="infor-c-q2"><label id="DDJE"></label>.00元</span>
             </li>
              <li>
                  <span class="infor-c-width2">下单时间：</span>
                  <span class="infor-c-q2"><label id="XSDATE"></label></span>
             </li>
              <li>
                  <span class="infor-c-width2">公司名称：</span>
                  <span class="infor-c-q2"> <label id="Cname"></label></span>
              </li>
              <li>
                  <span class="infor-c-width2">收件人：</span>
                  <span class="infor-c-q2"><label id="lxrname"></label></span>
              </li>
              <li>
                  <span class="infor-c-width2">电话：</span>
                  <span class="infor-c-q2">
                      <label id="Ctel"></label>
                  </span>
              </li>
              <li>
                  <span class="infor-c-width2">地址：</span>
                  <span class="infor-c-q2"><label id="Clxr"></label></span>
              </li>
         </ul>
     </div>
     <div style=" position:absolute; right:10px; top:70px;" id="qrcode"></div>
     <div style="width:99%; height:auto; margin-top:10px; border:1px solid #808080; padding-left:2px; padding-right:2px;">
          <table style=" width:100%; height:45px; margin:auto; background:#eee8e8;">
               <tr>
                   <td style="width:48%; font-size:14px;" align="center">商品名称</td>
                   <td style="width:10%;font-size:14px;" align="center">数量</td>
                   <td style="width:10%;font-size:14px;" align="center">总价</td>
                   
               </tr>
          </table>
          <div id="content">

          </div>
     </div>
      <div style="width:99%; height:auto; margin-top:10px; border:1px solid #808080; padding-left:2px; padding-right:2px;">
               <div style="width:300px; height:300px; margin:auto; margin-top:30px;">
                   
           @using (Html.BeginForm("SmEditch", "WL_DkxInfo", FormMethod.Post, new { id = "form1" }))
           {
               <span> 此单需要发货</span><label id="fhsl"></label>  <span> 台,已经发货</span><label id="smsl"></label> <span> 台<br/></span>
                 <input type="hidden" id="khid" name="khid"/>
                 <input type="hidden" id="zsl" name="zsl" />
                 <input type="hidden" id="orderId" name="orderId"/>
             <span>SID：</span> <input type="text" name="SID" id="SID" style="width:100px; height:100px; border:1px solid #000000;" />    
                 <div class="inquiry-input infor-b"> <button onclick="return smfhSavaForm()">保存</button> </div>
           }
               </div>
      </div>
 </div>

 <script type="text/javascript">
     function smfhSavaForm() {
         var sid = $("#SID").val();
         if (sid == "") {
             alert("SID码不为空！");
             $(SID).focus();
             return false;
         }

         if (sid == "wancheng") {
             var flay = UpdateordersmztbyorderId();
             if (flay == "true") {
                 window.location = "/NA_XSinfo/SmSelectOrder";
                 return false;
             } else {
                 alert("未出货完成！");
                 return false;
             }
         }

         if (sid == "guanbi") {
             window.location = "/NA_XSinfo/SmSelectOrder";
             return false;
         }
        
         //表单验证
         var options = {
             beforeSubmit: function () {
                 return true;
             },
             dataType: "json",//这里是指控制器处理后返回的类型，这里返回json格式。 
             success: function (context) {
                 if("success" == context.result) {
                     location.href = "../NA_XSinfo/SmOrderinfoView?Id=" + $("#orderId").val();
                 } else if ("bcz" == context.result) {//不存在该电控箱！
                         location.href = "../NA_XSinfo/SmOrderinfoView?Id=" + $("#orderId").val();
                 } else if ("yxs" == context.result) {//此电控箱已经销售！
                     location.href = "../NA_XSinfo/SmOrderinfoView?Id=" + $("#orderId").val();
                 } else if ("fhwc" == context.result) {
                     $.messager.alert("操作提示", '发货完成！', 'error', function () {
                         location.href = "../NA_XSinfo/SmOrderinfoView?Id=" + $("#orderId").val();
                     });
                 }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.messager.alert("操作提示", '操作失败！', 'error');
            }
        }
        $('#form1').ajaxSubmit(options);
        return false; //为了不刷新页面,返回false 
     }


     function UpdateordersmztbyorderId() {
         var json;
         $.ajax({
             type: "POST",
             url: "../NA_XSinfo/Updateordersmzt",
             data: { orderId: '@ViewData["SMOrderId"]' },
            dataType: "json",
            async: false,
            success: function (reslut) {
                json = reslut.status;
            },
            error: function (e) {
                alert("请求失败！");
            }
        })
        return json;
    }
</script>

