@model NewAsiaOASystem.ViewModel.NAReturnListView
@{
    ViewBag.Title = "出货单";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@section HeadContent{
    <script type="text/javascript">
        $(function () {
            var Cust = AjaxCust_Name('@Model.C_Id');//客户信息
            $("#Cname").html(Cust.Name);
            $("#Clxr").html(Cust.Adress);
            $("#Ctel").html(Cust.Tel);
            dataGrid();
        })
        function dataGrid() {
            var chjson;
            chjson = eval(jxkhjgck('@Model.Id'));
            if (typeof (chjson) != "undefined") {
                $("#content").html("");
                var html = "";
                html = '<table cellpadding="0" cellspacing="0" style="width:100%;">';
                for (var i = 0, j = chjson.length; i < j; i++) {
                    var Perinfo = GetPerinfobyId(chjson[i].P_Id);
                    if (i % 2 == 0)
                        html += '<tr class="h-table-content-r1" style=" height:40px;">';
                    else
                        html += '<tr class="h-table-content-r" style=" height:40px;">';
                    html += '<td style="width:20%">' + Perinfo.Pname + '</td>';
                    html += '<td style="width:10%">' + Perinfo.P_xh + '</td>';
                    html += '<td style="width:10%">' + chjson[i].shuliang + '</td>';
                    if (Perinfo.dw != "" && Perinfo.dw != null) {
                        html += '<td style="width:10%">' + Perinfo.dw + '</td>';
                    } else {
                        html += '<td style="width:10%">套</td>';
                    }
                    if (chjson[i].Beizhu != "" && chjson[i].Beizhu != null)
                        html += '<td style="width:20%">' + chjson[i].Beizhu + '</td>';
                    else
                        html += '<td style="width:20%">-</td>';
                    if (chjson[i].clfs != "" && chjson[i].clfs != null) {
                        html += '<td style="width:10%">' + chjson[i].clfs + '</td>';
                    } else if (chjson[i].Beizhu != "" && chjson[i].Beizhu != null) {
                        html += '<td style="width:10%">' + chjson[i].Beizhu + '</td>';
                    } else {
                        html += '<td style="width:10%">-</td>';
                    }
                    html += '<td style="width:20%" align="center">' + czshow(chjson[i].Id) + '</td>';
                    html += '</tr>';
                }
                html += '</table>'
                $("#content").html(html);
            }
        }
        /*根据返退货Id 查找出货明细*/
        function jxkhjgck(R_Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NQ_CHdetailinfo/GetchinfobyRId",
                data: {
                    R_Id: R_Id
                },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = reslut;
                },
                error: function (e) {
                    alert("请求失败");
                }
            })
            return json;
        }


        /*根据产品Id 查找产品信息*/
        function GetPerinfobyId(Id) {
            var json;
            $.ajax({
                type: "POST",
                url: "/NQ_CHdetailinfo/GetPreinfobyId",
                data: { ID: Id },
                dataType: "json",
                async: false,
                success: function (reslut) {
                    json = reslut;
                },
                error: function (e) {
                    alert("请求失败！");
                }
            })
            return json;
        }

        /*根据明细Id 删除*/
        function DeletechinfonbyId(Id) {
            $.ajax({
                type: "POST",
                url: "/NQ_CHdetailinfo/Delete",
                data: {
                    Id: Id
                },
                dataType: "json",//这里是指控制器处理后返回的类型，这里返回json格式。  
                success: function (context) {
                    dataGrid();
                },
                error: function (e) {
                    alert("请求失败！");
                }
            })
        }

        //同步数据
        function AJAXtbchdata() {
            $.ajax({
                type: "POST",
                url: "/NQ_CHdetailinfo/CHdetainfotb",
                data: { r_Id: '@Model.Id' },
                  dataType: "html",
                  async: false,
                  success: function (reslut) {
                      if ("1" == reslut) {
                          $.messager.alert("操作提示", '数据同步完成！', 'info', function () {
                              window.location = "/NAReturnList/chview?Id=" + '@Model.Id';
                              return false;
                          });
                      }
                      if ("2" == reslut) {
                          $.messager.alert("操作提示", '同步失败！', 'error');
                          return false;
                      }
                  },
                  error: function (e) {
                      alert("请求失败！");
                  }
              })
          }

          //操作
          function czshow(val) {
              var Id = "'" + val + "'";
              var s = '<a href="#" onclick="DeletechinfonbyId(' + Id + ')">删除</a>&nbsp;&nbsp;';
              return s;
          }

    </script>
}

@using (Html.BeginForm("BcEdit", "NAReturnList", FormMethod.Post, new { id = "form1" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="infor">
        <div class="infor-content" style="width: 100%;">
            <div class="add-infor-title-bg">
                <div style="width: 100px; height: 35px; margin: auto; font-size: 16px;">
                    出货开单
                </div>
            </div>
            <ul class="infor-c">
                <li class="infor-c-in"><span class="infor-c-width">购货单位：</span><span class="infor-c-q"><label id="Cname"></label></span></li>
                <li class="infor-c-in"><span class="infor-c-width">地址：</span><span class="infor-c-q"><label id="Clxr"></label></span></li>
                <li class="infor-c-in"><span class="infor-c-width">电话：</span><span class="infor-c-q"><label id="Ctel"></label></span></li>
            </ul>
            <div class="h-table" style="width: 100%; margin: 0; padding: 0;">
                <div class="h-table-content">
                    <table cellpadding="0" cellspacing="0" class="add-infor-title-bg">
                        <tr style="height: 40px;">
                            <td style="width: 20%">货品名称
                            </td>
                            <td style="width: 10%">型号
                            </td>
                            <td style="width: 10%">数量
                            </td>
                            <td style="width: 10%">单位
                            </td>
                            <td style="width: 20%">备注
                            </td>
                            <td style="width: 10%">处理方式</td>
                            <td style="width: 20%" align="center">
                                <a  onclick="chaddp('@Model.Id')" style="cursor: pointer;">
                                    <img src="~/Content/images/add.gif" /></a>
                                <a class="btna1" onclick="AJAXtbchdata()">同步数据</a>
                            </td>
                        </tr>
                    </table>
                    <div id="content"></div>
                </div>
            </div>
        </div>

        <div class="inquiry-input infor-b">
            <span>
                <button onclick="return kdSavaForm()">保存</button>
            </span>
            <span>
                <button onclick="return RedirectUrl('/NAReturnList/chlist')">返回</button>
            </span>
        </div>
    </div>
}
<script src="~/Scripts/NAjs/NAReturnList.js"></script>
<div id="windowDia" class="easyui-window" closed="true" style="width: 680px; height: 600px; padding: 10px;"></div>
