@model NewAsiaOASystem.ViewModel.NQ_THinfoFXView
@{
    ViewBag.Title = "客退产品分析编辑页面";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        YQJXZ();//元器件选择
        Fzyqjtext();//元器件赋值
        //$('#SelectedxxxData').combo({ editable: false, height: 25, panelHeight: 170 });
        //$('#Div_SelectedxxxData').appendTo($('#SelectedxxxData').combo('panel'));
        //$('#SelectedxxxData').combo('setValue', '').combo('setText', '===请选择==');
        //GetFXblxxxlist();
        //$('#SelectedxxData').combo({ editable: false, height: 25, panelHeight: 170 });
        //$('#Div_SelectedxxData').appendTo($('#SelectedxxData').combo('panel'));
        //$('#SelectedxxData').combo('setValue', '').combo('setText', '===请选择==');
        //GetFXxxList();
        //$('#SelectedyyData').combo({ editable: false, height: 25, panelHeight: 150 });
        //$('#Div_SelectedyyData').appendTo($('#SelectedyyData').combo('panel'));

     
        //处理方式赋值
        if('@Model.TH_bz'!=null&&'@Model.TH_bz'!="")
        {
            $("#TH_bz").val('@Model.TH_bz')
        }

    })


    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        $.ajax({
            //动态获取下拉选项的接口，返回数据主要是id+name (不良现象)
            url: "/NAReturnList/BlxxAlbumDropdown",
            dataType: "json",
            type: 'POST',
            success: function (data) {
                var datastr = eval( data.result);
                let str = "<option value=''>请选择</option>";
                for (var i = 0; i < datastr.length; i++) {
                    str += `<option value='${datastr[i].id}'>${datastr[i].name}</option>`;
                }
                //jquery赋值方式
                $("#Sel_blxx").html(str);
                if ($("#TH_BLXXX").val() != null) {
                    $("#Sel_blxx").val($("#TH_BLXXX").val());
                }

                //重新渲染生效
                form.render();
            }
        });

        form.on('select(Sel_blxx)', function (data) {
            $("#TH_BLXXX").val(data.value);
        });

        $.ajax({//动态获取下拉选项的接口，返回数据主要是id+name (不良原因)
            url: "/NAReturnList/Allblyyjsondata",
            dataType: "json",
            type: 'POST',
            success: function (data) {
                var datastr = eval(data.result);
                console.log('12334455', datastr);
                let str = "<option value=''>请选择</option>";
                for (var i = 0; i < datastr.length; i++) {
                    str += `<option value='${datastr[i].Id}'>${datastr[i].Name}</option>`;
                }
                //jquery赋值方式
                $("#Sel_blyy").html(str);
                if ($("#TH_BLXX").val() != null) {
                    $("#Sel_blyy").val($("#TH_BLXX").val());
                    if ($("#TH_BLYY").val() != null) {//存在下级

                        $.ajax({
                            url: "/NAReturnList/AllblyyChiljsondata",
                            dataType: "json",
                            type: 'POST',
                            data: { Pid: $("#TH_BLXX").val() },
                            success: function (datas) {
                                var datastrc = eval(datas.result);
                                let str = "<option value=''>请选择</option>";
                                if (datastrc) {
                                    for (var i = 0; i < datastrc.length; i++) {
                                        str += `<option value='${datastrc[i].Id}'>${datastrc[i].Name}</option>`;
                                    }
                                }

                                //jquery赋值方式
                                $("#Sel_blyyc").html(str);
                                $("#Sel_blyyc").val($("#TH_BLYY").val());
                                //重新渲染生效
                                form.render();
                            }
                        })
                    }
                }
                //重新渲染生效
                form.render();
            }
        })
        //父级不良原因
        form.on('select(Sel_blyy)', function (data) {
            $("#TH_BLXX").val(data.value);
            //同时去查询下级不良原因 1、先清楚原先数据 2、查询绑定下级不良原因
            $("#Sel_blyyc").html("");
            $.ajax({
                url: "/NAReturnList/AllblyyChiljsondata",
                dataType: "json",
                type: 'POST',
                data: { Pid: $("#TH_BLXX").val() },
                success: function (datas) {
                    var datastrc = eval(datas.result);
                    let str = "<option value=''>请选择</option>";
                    if (datastrc) {
                        for (var i = 0; i < datastrc.length; i++) {
                            str += `<option value='${datastrc[i].Id}'>${datastrc[i].Name}</option>`;
                        }
                    } else {//下级为空的时候清空原先的数据
                        $("#TH_BLYY").val("");
                    }
                    //jquery赋值方式
                    $("#Sel_blyyc").html(str);
                    //重新渲染生效
                    form.render();
                }
            })
        })
        //下级不良原因选择
        form.on('select(Sel_blyyc)', function (data) {
            $("#TH_BLYY").val(data.value);
        })
        form.render();
    });




    //赋值元器件文本框
    function Fzyqjtext() {
        if ('@Model.TH_YQJname' != null && '@Model.TH_YQJname' != "") {
            var yjmodel = ajaxyjmodelbyidjson('@Model.TH_YQJname');//元器件
            var yqjxh = yjmodel.Y_Name + "," + yjmodel.Y_Ggxh;
            $("#tt").val(yqjxh);
            $("#yjid").val(yjmodel.Id);
        }
    }

    //查询元器件信息根据名称
    function ajaxYQJjson(r_id) {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_YJinfo/Getyjinfobyname",
            data: { name: r_id },
            dataType: "json",
            async: false,
            success: function (reslut) {
                json = reslut;
            },
            //error: function (e) {
            //    alert("请求失败!");
            //}
        })
        return json;
    }

    //根据元器件ID 查找元器件信息
    function ajaxyjmodelbyidjson(Id) {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_YJinfo/Getyjinfomodelbyid",
            data: { Id: Id },
            async: false,
            success: function (reslut) {
                json = eval('(' + reslut + ')');
            },
            error: function (e) {
                alert("请求失败！");
            }
        })
        return json;
    }

    function ajaxallyjinfo() {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_YJinfo/Getyjinfo",
            dataType: "json",
            async: false,
            success: function (reslut) {
                json = reslut;
            },
            error: function (e) {
                alert("请求失败!");
            }
        })
        return json;
    }

    //元器件查找
    function YQJXZ() {
        var jsondate = ajaxYQJjson($("#tt").val());
        var datajson = "";
        if (jsondate != null) {
            var j = 110;
            if (jsondate.length < 110) {
                j = jsondate.length
            }
            for (var i = 0; i < j; i++) {
                datajson += '{title:"' + jsondate[i].Y_Name + ',' + jsondate[i].Y_Ggxh + '" ,Id:"' + jsondate[i].Id + '"},';
            }

        } else {
            datajson += '{title:"没有记录"}';
        }
        datajson = eval('[' + datajson + ']');
        $("#tt").bigAutocomplete({
            width: 156,
            scrollHeight: 300,
            data: datajson,
            callback: function (data) {
                $("#yjid").val(data.Id);
            }
        });
    }

    //检测是否再保
    function dbJCZB() {
        //生产时间
        var scdate = $("#TH_SCdate").val();
        var res;
        if (scdate == "") {
            alert("填写生产时间！");
            return;
        }
        res = Ajaxjcsj(scdate, '@Model.R_Id');
        $("#bxqk").val(res);
    }

    function Ajaxjcsj(scdatetime, r_Id) {
        var json;
        $.ajax({
            type: "POST",
            url: "/NAReturnList/JcMonecount",
            data: { scdatetime: scdatetime, r_Id: r_Id },
            dataType: "html",
            async: false,
            success: function (reslut) {
                json = reslut;
            },
            error: function (e) {
                alert("网络异常!");
            }
        })
        return json;
    }
</script>



<blockquote class="layui-elem-quote" style="color:red">提示：受损图片可以上传资料，查看方式是点击查询或下载</blockquote>
@using (Html.BeginForm("FxEdit", "NAReturnList", FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id);
    @Html.HiddenFor(m => m.P_Id);
    @Html.HiddenFor(m => m.R_Id);
    @Html.HiddenFor(m => m.TH_BLXX);
    @Html.HiddenFor(m => m.TH_BLYY);
    @Html.HiddenFor(m => m.TH_YQJname);
    @Html.HiddenFor(m => m.TH_BLXXX);
    @Html.HiddenFor(m => m.TH_imgurl1);
    @Html.HiddenFor(m => m.TH_imgurl2);
    @Html.HiddenFor(m => m.Cpwlno);
    @Html.HiddenFor(m => m.Cpname);
    @Html.HiddenFor(m => m.Cpmode);
    @Html.HiddenFor(m => m.C_time);

    <input type="hidden" id="yjid" name="yjid" />
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">生产批号：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    @Html.TextBoxFor(m => m.TH_SCdate, new { onclick = "WdatePicker()", @class = "layui-input" })
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    @Html.TextBoxFor(m => m.TH_Ph, new { @class = "layui-input", placeholder = "批号后几位" })
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">保修：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <input id="bxqk" name="bxqk" class="layui-input" placeholder="双击计算保修" ondblclick="dbJCZB()" />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">客户不良：</label>
                <div class="layui-input-inline" style="padding-top:8px">
                    @if (!string.IsNullOrEmpty(Model.Cust_Baddescribe))
                    {
                        @Model.Cust_Baddescribe
                    }
                    else
                    {
                        <span>未填写客户描述不良现象</span>
                    }
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">不良现象：</label>
                <div class="layui-input-inline">
                    <select lay-verify="" lay-filter="Sel_blxx" id="Sel_blxx" name="Sel_blxx" lay-search>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">不良原因：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <select lay-verify="" lay-filter="Sel_blyy" id="Sel_blyy" name="Sel_blyy" lay-search>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 140px;">
                    <select lay-verify="" lay-filter="Sel_blyyc" id="Sel_blyyc" name="Sel_blyyc" lay-search>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">分析人：</label>
                <div class="layui-input-inline" style="width: 120px;">
                    @Html.TextBoxFor(m => m.Analyst, new { @class = "layui-input", placeholder = "分析人" })
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">处理方式：</label>
                <div class="layui-input-inline">
                    <select lay-verify="" lay-filter="TH_bz" id="TH_bz" name="TH_bz">
                        <option value="报废">报废</option>
                        <option value="补新">补新</option>
                        <option value="正常">正常</option>
                        <option value="折价补新">折价补新</option>
                        <option value="修复">修复</option>
                        <option value="翻新">翻新</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-inline">
                    @Html.TextBoxFor(m => m.TH_bz2, new { @class = "layui-input", placeholder = "备注" })
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">受损图片：</label>
                <div class="layui-input-inline">
                    <input type="file" name="Image" class="layui-input" />
                </div>

                @if (string.IsNullOrEmpty(Model.TH_imgurl1))
                {

                }
                else
                {
                    <div class="layui-input-inline" style="width:75px;padding-top:8px;">
                        <a href="@Url.Content(Model.TH_imgurl1)" target="_blank">图片/资料</a>
                    </div>
                }

                <div class="layui-input-inline">
                    <input type="file" name="Image2" class="layui-input" />
                </div>

                @if (string.IsNullOrEmpty(Model.TH_imgurl2))
                {
                }
                else
                {
                    @*<img width="50" height="50" src="@Url.Content(Model.TH_imgurl2)" alt="images" />*@
                    <div class="layui-input-inline" style="width:75px;padding-top:8px;">
                        <a href="@Url.Content(Model.TH_imgurl2)" target="_blank">图片/资料</a>
                    </div>
                }

            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">元器件费：</label>
                <div class="layui-input-inline">
                    @Html.TextBoxFor(m => m.TH_yqjjg, new { @class = "layui-input", placeholder = "元器件费" })
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">人工费用：</label>
                <div class="layui-input-inline">
                    @Html.TextBoxFor(m => m.TH_RGF, new { @class = "layui-input", placeholder = "人工费用" })
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">包材费用：</label>
                <div class="layui-input-inline">
                    @Html.TextBoxFor(m => m.TH_BCF, new { @class = "layui-input", placeholder = "人工费用" })
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">元  器  件：</label>
                <div class="layui-input-inline">
                    <input type="text" id="tt" name="tt" value="" class="layui-input" onkeyup="YQJXZ()" autocomplete="off" />

                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button class="layui-btn   layui-btn-sm" onclick="return fxSavaForm()">立即提交</button>
                </div>
            </div>
        </div>
    </div>

}



<script src="~/Scripts/NAjs/NQ_THinfoFX.js"></script>
<script src="~/Scripts/NAjs/bigAutocomplete.js"></script>
<style>
    .bigautocomplete-layout {
        width:190px;
        border: 1px solid #808080;
        margin-left:110px;
    }
</style>
