@model NewAsiaOASystem.ViewModel.PagerInfo<NewAsiaOASystem.ViewModel.NAReturnListView>
@{
    ViewBag.Title = "车间返退货维修管理";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<!--==================================数据列表=============================-->

@section HeadContent{
    <script type="text/javascript">
        var loadi;
        function ddchen() {
            loadi = layer.load(1, { shade: [0.8, '#393D49'] })
        }
        //关闭等待效果
        function disLoading() {
            layer.close(loadi);
        }
        $(function () {
            BindGrid();
        })
        function BindGrid() {
            @{
                if (null != Model && null != Model.GetPagingDataJson)
                {
                    string json = Model.GetPagingDataJson;//获取json数据
                    @: var jsonStr = @Html.Raw(json);
                }
             }
            dataGrid(jsonStr);
        }

        function dataGrid(jsonStr)
        {
            if (typeof (jsonStr) != "undefined") {
                var html = "";
                var url="'"+"/NAReturnList/wxEditPage"+"'";
                var Id="";

                html = '<table class="layui-table">';
                html += '<thead>';
                html+='<tr>';
                html+='<td width="5%"><input type="checkbox" name="TopChecked" value="0" onclick="TopChecked()" /></td>';
                html+='<td width="10%">编号</td>';
                html+='<td width="20%">客户</td>';
                html+='<td width="5%">退货数量</td>';
                html += '<td width="10%">返退单状态</td>';
                html += '<td width="5%">技术分析</td>';
                html+='<td width="10%">创建时间</td>';
                html+='<td width="25%">操作</td>';
                html+='</tr>';
                html+='</thead>';
                for (var i = 0, j = jsonStr.length; i < j; i++) {
                    Id="'"+jsonStr[i].Id+"'";
                    html+='<tr>';
                    html += '<td width="5%"><input type="checkbox" name="ContentChecked" value="' + jsonStr[i].Id + '"/></td>';
                    html += '<td width="10%">' +jsonStr[i].fthbianhao + '</td>';
                    html += '<td width="20%">' +ShowCustName(jsonStr[i].C_Id) + '</td>';
                    html += '<td width="5%">' + jsonStr[i].R_Number + '</td>';
                    html += '<td width="10%">' +Showl_zt(jsonStr[i].L_type)+ '</td>';
                    html += '<td width="5%">' + showIsjsbpz(jsonStr[i].Isjsbpz)+'</td>';
                    if(jsonStr[i].CreateTime!=null)
                        html += '<td width="10%">' + showDate(jsonStr[i].CreateTime) + '</td>';
                    else
                        html += '<td width="10%"></td>';
                    html += '<td width="25%"><div class="layui-btn-group">';
                    html+='<a class="layui-btn layui-btn-primary layui-btn-small" onclick="wxiframeopen('+Id+')" ><i class="layui-icon">&#xe642;</i>明细编辑</a>';
                    html += '<a class="layui-btn layui-btn-primary layui-btn-small" onclick="NewwxEide(' + Id + ')"><i class="layui-icon">&#xe642;</i>编辑</a>';
                    html += '<a class="layui-btn layui-btn-primary layui-btn-small" onclick="biaojiEide(' + Id + ')"><i class="layui-icon">&#xe605;</i>技术分析</a>';
                    //html+='<div class="layui-btn-group">'+wxbtnshow(jsonStr[i].Id)+'</div>';
                    html+='</div></td>';
                    html+='</tr>';
                }
                html += '</table>';
                $("#content").html(html);
            }
        }

        function wxbtnshow(val, xh) {
            var Id = "'" + val + "'";
            var s = '<a href="#" onclick="editfx(' + Id + ',' + xh + ')">编辑</a>&nbsp;&nbsp;<a href="#" onclick="DelFxmx(' + Id + ')">删除</a>';
            return s;
        }

        //pageIndex当前页
        function SerchList(pageIndex)
        {
            $("input[name='pageIndex']").val(pageIndex);
            var options = {
                beforeSubmit: function () {
                    return true;
                },
                dataType: "json",
                success: function (context) {
                    var data=eval(context.result);
                    dataGrid(data);
                    $(".pagin").html(context.PageN);//输出分页按钮
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.messager.alert("操作提示", '查询失败请重试！', 'error');
                }
            }
            $('#form1').ajaxSubmit(options);
            return false;
        }


        //维修分析单打印
        //val 返退货Id
        //val2返退单当前的所处的状态 定完责之后可以打印
        function WxfxPrintURL(val,val2)
        {
            if(val2=="4"||val2=="5"||val2=="6"){
                var url = "/NQ_CHdetailinfo/PrintFXView?Id="+val;
                location.href = url;
            }else
            {
                alert("该单尚未定完责，暂不能打印维修分析表！");
            }
        }

        //列表按钮显示
        function listjBtnsow(val)
        {
            var id = "'" + val + "'";
            var s = '<a class="layui-btn layui-btn-primary layui-btn-small" onclick="NewwxEide(' + id + ')"><i class="layui-icon">&#xe642;</i></a>';
            return s;
        }

        //维修新的编辑
        function NewwxEide(val)
        {
            var id=val;
            if (id != "") {
                $('#windowDia').html("<iframe src=../NAReturnList/NewchejianchuliView?id=" + id + "  style='border:0px;' width='100%' height='450px' ></iframe>");
                $("#windowDia").window({
                    title: '返退货单——车间维修',
                    modal: true,
                    closed: false,
                    width: "100%",
                    height:500,
                    top: 0,
                });
            }
        }

        //layer
        //维修明细分页页面
        function wxiframeopen(val)
        {
            layer.open({
                type: 2,
                title: ['维修明细', 'font-size:14px;'],
                area: ['95vw', '95vh'],
                offset: '10px',
                fixed: false, //不固定
                maxmin: true,
                content: '../NAReturnList/Newcjwxmxlist?Id='+val,
                end: function () {
                    location.reload();
                }
            });
        }

        //显示
        function showIsjsbpz(val) {
            if (val == null || val == "0") {
                return "未标记";
            }
            else {
                return '<span style="color:#5FB878"> 已标记</span>';
            }
        }

        //标记技术分析
        function biaojiEide(val) {
            $.ajax({
                url: "../NAReturnList/update_biaojiaojsfx",
                type: "POST",
                data: { Id: val },
                dataType: "json",
                async: true,
                beforeSend: function () {
                    ddchen();
                },
                success: function (response) {
                    disLoading();
                    if (response.result == "error") {
                        layer.alert(response.msg, { icon: 2 }, function () { location.reload(); });
                    }
                    if (response.result == "success") {
                        layer.alert(response.msg, { icon: 1 }, function () { location.reload(); });
                    }

                },
                error: function (e) {
                    disLoading();
                    layer.alert("操作失败！", { icon: 2 });
                }
            })
        }

        function Exportexcl() {
            var khname = $("#txtSearch_Name").val();//客户名称
            var ztstr = $("#ztstr").val();//产品型号
            var txt_Fthbianhao = $("#txt_Fthbianhao").val();//
            var txt_CPname = $("#txt_CPname").val();//
            var R_PId = $("#R_PId").val();//退货时间
            var Isjsbpz = $("#Isjsbpz").val();//维修时间

            //if (c_timestart == "" || c_timestart == null) {
            //配置一个透明的询问框
            layer.msg('确认导出当前记录吗', {
                time: 2500, //2.5s后自动关闭
                btn: ['确定导出', '取消'],
                yes: function () {
                    window.location.href = "../NAReturnList/daochuftorder?Name=" + khname + "&Szt=" + ztstr + "&type=" + '@ViewData["roletype"]' + "&R_pId=" + R_PId + "&fthbianhao=" + txt_Fthbianhao + "&CPname=" + txt_CPname + "&Isjsbpz=" + Isjsbpz;
                }
            });
        }
    </script>
}

<!--==================================数据列表=============================-->
<div class="h-right">
    <div class="h-right-c">

        <!--查询条件-->
        @using (Html.BeginForm("wxSearchList", "NAReturnList", FormMethod.Post, new { id = "form1" }))
        {
            @Html.Hidden("pageIndex");
            <input type="hidden" value="@ViewData["roletype"]" id="roletype" name="roletype" />
            <div class="inquiry1">
                <fieldset>
                    <legend>查询条件：</legend>
                    <ul>
                        <li><span>客户：</span>
                            <span class="inquiry-input">
                                <input type="text" name="txtSearch_Name" id="txtSearch_Name" /></span></li>
                        <li><span>状态：</span>
                            <span class="inquiry-input">
                                <select id="ztstr" name="ztstr">
                                    <option value="2">待维修</option>
                                    <option value="7">配件待修</option>
                                    <option value="qt">全部</option>
                                    <option value="3">待定责</option>
                                    <option value="4">待处理</option>
                                    <option value="5">待审核</option>
                                    <option value="6">已完成</option>
                                </select>
                            </span>
                        </li>
                        <li>
                            <span>编号：</span>
                            <span class="inquiry-input">
                                <input type="text" name="txt_Fthbianhao" id="txt_Fthbianhao" />
                            </span>
                        </li>
                        <li>
                            <span>产品名称：</span>
                            <span class="inquiry-input">
                                <input type="text" name="txt_CPname" id="txt_CPname" />
                            </span>
                        </li>
                        <li>
                            <span>返退产品：</span>
                            <span class="inquiry-input">
                                @Html.DropDownList("R_PId", ViewData["perList"] as SelectList, new { @class = "add-function" })
                            </span>
                        </li>
                        <li>
                            <span>技术分析</span>
                            <span class="inquiry-input">
                                <select id="Isjsbpz" name="Isjsbpz">
                                    <option value="">全部</option>
                                    <option value="0">未标记</option>
                                    <option value="5">已标记</option>
                                </select>
                            </span>
                        </li>
                        <li style="*width: 100%; *margin: -10px 0 5px 90px;">
                            <span class="inquiry-input">
                                @* <button name="btnSerch" onclick="return SerchList(1)">查询</button>*@
                                <button class="layui-btn" onclick="return SerchList(1)">
                                    <i class="layui-icon">&#xe615;</i> 查询
                                </button>
                            </span>
                            <span class="inquiry-input">
                                <button type="button" onclick="Exportexcl(); return false;">记录导出</button>
                            </span>
                        </li>
                    </ul>
                </fieldset>
            </div>
        }
        <div class="h-table">
            <div class="h-table-content">
 
                <div id="content"></div>
            </div>
        </div>
    </div>
</div>

<!--==========================输出分页按钮=========================-->
<div class="pagin">
    @if (ViewBag.PageNavigate == null)
    {
        @Html.ShowPageNavigate(Model.CurrentPageIndex, Model.PageSize, Model.RecordCount);
    }
</div>

<script src="~/Scripts/NAjs/NAReturnList.js"></script>
<div id="windowDia" class="easyui-window" closed="true" style="width: 100%; height: 600px; padding: 5px;"></div>
